<section *ngIf="IsViewSwitch;else ViewTwo">
    <div class="container-fluid">

        <div class="col-lg-2 col-filter">
            <h4 class="my-4">Notes for Sales</h4>
            <form novalidate #formFilter="ngForm" (ngSubmit)="onFilter()">
                <div class="form-group">
                    <label class="text-label" for="UPB">Product ID</label>
                    <input class="form-control" type="text" name="UPB" [(ngModel)]="filterFiledUpb" id="UPB">
                </div>
                <div class="form-group">
                    <label for="State">City</label>
                    <input type="text" class="form-control" name="State" [(ngModel)]="filterFiledState" id="State" placeholder="State">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit"><i aria-hidden="true" class="fa fa-search"></i> SEARCH</button>
                    <button *ngIf="resetFilter" class="btn btn-success btn-block" (click)="onResetFilter()"><i class="fa fa-window-restore" aria-hidden="true"></i>&nbsp;RESET</button>

                </div>
            </form>
        </div>



        <div class="col-lg-10 col-all-items">

            <div class="row">
                <div class="col-sm-12 pagination-padding">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end float-right">
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                <a class="page-link" (click)="setPage(1)">First</a>
                            </li>

                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a class="page-link" (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                        <p class="text-pagination float-left">Results - <span>Viewing ltems    {{pager.startIndex }}-{{pager.endIndex +1}} of {{pager.totalItems}}</span></p>
                    </nav>
                </div>
            </div>



            <hr class="sort-by">

            <div class="row">
                <div class="col-sm-6 pagination-padding">
                    <ul class="nav nav-pills Sort-by marg-top">
                        <li style="list-style: none; display: inline">
                            <p class="text-filter">Sort by :</p>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link pointer" [ngClass]="{active:sortFiledUpb === true}" (click)="onSortFiledUpb(sortFiledUpb)">UPB</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pointer" [ngClass]="{active:sortFiledState === true}" (click)="onSortFiledCity(sortFiledState)">City</a>
                        </li>

                    </ul>
                </div>

                <div class="col-lg-6">
                    <div aria-label="Basic example" class="btn-group pull-right" role="group" style="margin-top: 0px">
                        <button class="btn btn-success active" type="button" (click)="onViewOne()"><i aria-hidden="true" class="fa fa-th-list"></i></button>
                        <button class="btn btn-success" type="button" (click)="onViewTow()"><i aria-hidden="true" class="fa fa-table"></i></button>
                    </div>
                    <button *ngIf="role == 1" class="btn btn-primary btn-sm float-right btn-filter-published" type="button" (click)="getAllLoanNotes()">Published</button>
                    <button *ngIf="role == 1" class="btn btn-secondary btn-sm float-right btn-filter-published" type="button" (click)="getNonPublished()">Not Published</button>
                </div>


            </div>
            <hr class="sort-by">


        </div>
        <div class="col-lg-10 col-all-items">

            <div class="row" style="margin-bottom: 12px" *ngFor="let item of pagedItems ">
                <div class="col-lg-12">
                    <div class="card text-center">

                        <div class="card-header">
                            <p class="pull-left address">{{item?.property?.address}},{{item?.property?.city}},{{item?.property?.zip}} </p>
                            <p class="pull-right product-seller-id">Product ID: <a [routerLink]="['/buy-note', item.loanNoteID]">{{item.loanNoteID}}</a>
                            </p>

                        </div>



                        <div class="card-body">

                            <div class="col-sm-3 float-left">
                                <img class="img-card " src="assets/img/Art-1.png" width="100%">
                            </div>

                            <div class="col-sm-3 float-left zone-text">
                                <p class="text-left text-card">Loan Status <span class="pull-right spane-text"> {{item.loanStatus?.name}}</span></p>

                                <p class="text-left text-card padding-btm">Lien Position
                                    <span *ngIf="loanNote?.deedMortgageStatus; else elseBlock" class="pull-right spane-text">1<sup>st</sup></span>
                                    <ng-template #elseBlock>
                                        <span class="pull-right spane-text" *ngIf="Note?.deedMortgage === undefined; else elseBlock2">{{Note?.deedMortgage?.lienPosition}}</span>
                                        <ng-template #elseBlock2>
                                            <span class="pull-right spane-text">2<sup>nd</sup></span>
                                        </ng-template>
                                    </ng-template><br></p>


                                <p class="text-left text-card">Original Blance <span class="pull-right spane-text">$00.00</span></p>
                                <p class="text-left text-card">Principal Blanace <span class="pull-right spane-text">${{item.principaleBalance}}</span></p>
                                <p class="text-left text-card">Note Rate <span class="pull-right spane-text">{{item.noteInterestRate}}%</span></p>
                            </div>


                            <div class="col-lg-3 float-left zone-text border-befor">
                                <p class="text-center texte-simple">Minimum Asking Price</p>
                                <p class="text-center texte-bold">${{item.askingPrice}} <br>Of {{item.askingPrice / item.principaleBalance | number : '1.2-2'}} %
                                    <p *ngIf="item?.loanServicer != undefined" class="text-center texte-simple">Servicer: {{item?.loanServicer?.name}}</p>
                            </div>
                            <div class="col-lg-3 float-left text-center zone-text">
                                <button class="btn btn-success text-center btn-Submit btn-index" style="width: 100%;" type="button" (click)="SubmitOffer(item)">Submit an Indicative Offer</button>
                                <button [style.background-color]="getStyle(item.isPublished)" *ngIf="role == 1 && item.isPublished === true" (click)="changePulishedStatus(item.loanNoteID); item.isPublished = !item.isPublished;" class="btn btn-success text-center btn-Submit btn-index"
                                    style="width: 100%;" type="button"> {{item.isPublished === true ? unPublishedtext : publishedtext}} </button>
                                <button [style.background-color]="getStyle(item.isPublished)" *ngIf="role == 1 && item.isPublished === false" (click)="changePulishedStatus(item.loanNoteID); item.isPublished = !item.isPublished;" class="btn btn-success text-center btn-Submit btn-index"
                                    style="width: 100%;" type="button"> {{item.isPublished === true ? unPublishedtext : publishedtext}} </button>
                                <button *ngIf="role == 1" class="btn btn-success text-center btn-Submit btn-index" style="width: 100%;" type="button">Update</button>
                                <button [routerLink]="['/buy-note', item.loanNoteID]" class="btn btn-outline-success text-center btn-Submit btn-index" style="width: 100%;" type="button">More Details</button>
                            </div>


                        </div>


                        <div class="card-footer">
                            <small class="text-muted pull-left"><a>Investment Strategy Model</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>




















<!--Template view 2-->

<ng-template #ViewTwo>
    <section style="margin-top: 20px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <nav class="nav-filter-page-excel">
                        <ul>
                            <li>
                                <p>Sort by :</p>
                            </li>
                            <li> <a class="nav-link" [ngClass]="{active:sortFiledUpb === true}" (click)="onSortFiledUpb(sortFiledUpb)">UPB</a></li>
                            <li> <a class="nav-link" [ngClass]="{active:sortFiledState === true}" (click)="onSortFiledCity(sortFiledState)">City</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-9">
                    <form novalidate #formFilter="ngForm" (ngSubmit)="onFilter()" class="form-row">
                        <div class="col-lg-2 mb-3">
                            <input type="text" class="form-control" name="UPB" [(ngModel)]="filterFiledUpb" id="UPB" placeholder="UPB">
                        </div>
                        <div class="col-lg-2 mb-3">
                            <input type="text" class="form-control" name="State" [(ngModel)]="filterFiledState" id="State" placeholder="State">
                        </div>
                        <div class="col-lg-2 mb-3">
                            <button type="button" type="submit" class="btn btn-primary  btn-block btn-filter-excel"><i aria-hidden="true" class="fa fa-search"></i> SEARCH</button>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <button *ngIf="resetFilter" type="button" class="btn btn-success  btn-block btn-filter-excel" (click)="onResetFilter()"><i aria-hidden="true" class="fa fa-window-restore"></i> RESET</button>
                        </div>
                        <div class="col-lg-4">
                            <div aria-label="Basic example" class="btn-group pull-right" role="group" style="margin-top: 7px">
                                <button class="btn btn-success" type="button" (click)="onViewOne()"><i aria-hidden="true" class="fa fa-th-list"></i></button>
                                <button class="btn btn-success active" type="button" (click)="onViewTow()"><i aria-hidden="true" class="fa fa-table"></i></button>
                            </div>
                            <div aria-label="Basic example" class="btn-group pull-right" role="group" style="margin-top: 6px">
                                <button *ngIf="role == 1" type="button" class="btn btn-primary  float-right btn-filter-published" (click)="getAllLoanNotes()">Published</button>
                                <button *ngIf="role == 1" type="button" class="btn btn-secondary float-right btn-filter-published" (click)="getNonPublished()">Not Published</button>
                                <button type="button" class="btn btn-outline-primary btn-filter-published" (click)="exportLiveTape()"><i class="fa fa-download" aria-hidden="true" ></i> Get Live Tape</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid excel-page">
            <div class="row">
                <div class="col-lg-12 table-responsive">
                    <table class="table table-condensed table-mycolor table-hover">
                        <thead>

                            <tr>
                                <th scope="col">Loan Status</th>
                                <th scope="col">Lien Position</th>
                                <th scope="col">Original Blance</th>
                                <th scope="col">Note Rate</th>
                                <th scope="col">UPB</th>
                                <th scope="col">Asking Price</th>
                                <th scope="col">Product ID</th>
                                <th scope="col">Address</th>
                                <th scope="col">Submit Offer</th>
                                <th scope="col">View Detail</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of pagedItems">
                                <td>{{item?.loanStatus?.name}}</td>
                                <td> <span *ngIf="loanNote?.deedMortgageStatus; else elseBlock">1<sup>st</sup></span>
                                    <ng-template #elseBlock>
                                        <span *ngIf="Note?.deedMortgage === undefined; else elseBlock2">{{Note?.deedMortgage?.lienPosition}}</span>
                                        <ng-template #elseBlock2>
                                            <span>2<sup>nd</sup></span>
                                        </ng-template>
                                    </ng-template>
                                </td>
                                <td>{{item?.principaleBalance}}</td>
                                <td>{{item?.noteInterestRate}}</td>
                                <td>{{item?.unPaidPrincipalBalance}}</td>
                                <td>${{item?.askingPrice}}</td>
                                <td>{{item.loanNoteID}}</td>
                                <td>{{item?.property?.address}},{{item?.property?.city}}, {{item?.property?.zip}}</td>
                                <td class=""><button type="button" class="btn btn-success btn-sm" (click)='SubmitOffer(item)'>Submit</button></td>
                                <td class="icone-view"><a [routerLink]="['/buy-note', item.loanNoteID]"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12 pagination-padding">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end float-right">
                                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a class="page-link" (click)="setPage(1)">First</a>
                                </li>

                                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                                </li>
                                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                                </li>
                                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                                </li>
                                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                                </li>
                            </ul>
                            <p class="text-pagination float-left">Results - <span>Viewing ltems    {{pager.startIndex }}-{{pager.endIndex +1}} of {{pager.totalItems}}</span></p>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- 		<div class="container-fluid">
                    <div class="row">
                    </div>
                </div> -->
    </section><br><br>

    <!-- <section style="margin-top: 20px;">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3">

                    <form novalidate #formFilter="ngForm" (ngSubmit)="onFilter()">
                        <div class="form-row">

                            <div class="col-md-4 mb-3">
                                <input type="text" class="form-control" name="UPB" [(ngModel)]="filterFiledUpb" id="UPB" placeholder="UPB">
                            </div>
                            <div class="col-md-4 mb-3">
                                <input type="text" class="form-control" name="State" [(ngModel)]="filterFiledState" id="State" placeholder="State">
                            </div>
                            <div class="col-md-2 mb-3">
                                <button type="button" type="submit" class="btn btn-primary btn-lg btn-block btn-filter-excel"><i aria-hidden="true" class="fa fa-search"></i> SEARCH</button>
                            </div>
                            <div class="col-md-2 mb-3">
                                <button *ngIf="resetFilter" type="button" class="btn btn-success btn-lg btn-block btn-filter-excel" (click)="onResetFilter()"><i aria-hidden="true" class="fa fa-window-restore"></i> RESET</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2">
                    <nav class="nav-filter-page-excel">
                        <ul>
                            <li>
                                <p>Sort by :</p>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" [ngClass]="{active:sortFiledUpb === true}" (click)="onSortFiledUpb(sortFiledUpb)">UPB</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [ngClass]="{active:sortFiledState === true}" (click)="onSortFiledCity(sortFiledState)">City</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <button *ngIf="role == 1" type="button" class="btn btn-primary btn-sm float-right btn-filter-published" (click)="getAllLoanNotes()">Published</button>
                    <button *ngIf="role == 1" type="button" class="btn btn-secondary btn-sm float-right btn-filter-published" (click)="getNonPublished()">Not Published</button>

                    <div class="btn-group pull-right" style="margin-top: 15px" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success" (click)="onViewOne()"><i class="fa fa-th-list" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-success active" (click)="onViewTow()"><i class="fa fa-table" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid excel-page">
            <div class="row">
                <div class="col-lg-12 table-responsive">
                    <table class="table table-condensed table-mycolor table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Loan Status</th>
                                <th scope="col">Lien Position</th>
                                <th scope="col">Original Blance</th>
                                <th scope="col">Note Rate</th>
                                <th scope="col">UPB</th>
                                <th scope="col">Asking Price</th>
                                <th scope="col">Product ID</th>
                                <th scope="col">Address</th>
                                <th scope="col">Submit Offer</th>
                                <th scope="col">View Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of pagedItems">
                                <td>{{item?.loanStatus?.name}}</td>
                                <td> <span *ngIf="loanNote?.deedMortgageStatus; else elseBlock">1<sup>st</sup></span>
                                    <ng-template #elseBlock>
                                        <span *ngIf="Note?.deedMortgage === undefined; else elseBlock2">{{Note?.deedMortgage?.lienPosition}}</span>
                                        <ng-template #elseBlock2>
                                            <span>2<sup>nd</sup></span>
                                        </ng-template>
                                    </ng-template>
                                </td>
                                <td>{{item?.principaleBalance}}</td>
                                <td>{{item?.noteInterestRate}}</td>
                                <td>{{item?.unPaidPrincipalBalance}}</td>
                                <td>${{item?.askingPrice}}</td>
                                <td>{{item.loanNoteID}}</td>
                                <td>{{item?.property?.address}},{{item?.property?.city}}, {{item?.property?.zip}}</td>
                                <td class=""><button type="button" class="btn btn-success btn-sm" (click)='SubmitOffer(item)'>Submit</button></td>
                                <td class="icone-view"><a [routerLink]="['/buy-note', item.loanNoteID]"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12 pagination-padding">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end float-right">
                                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a class="page-link" (click)="setPage(1)">First</a>
                                </li>

                                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                                </li>
                                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                                </li>
                                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                                </li>
                                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                                </li>
                            </ul>
                            <p class="text-pagination float-left">Results - <span>Viewing ltems    {{pager.startIndex }}-{{pager.endIndex +1}} of {{pager.totalItems}}</span></p>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section> -->



</ng-template>