<section style="margin-top: 20px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">

                <section>
                    <div class="col-lg-12 bg-light">
                        <h4 class="infoclient">DOCUMENTS NEEDED</h4>
                    </div>
                </section>
                <section style="margin-top: 20px;">
                    <div class="col-lg-12 doc-space">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Document 1...</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Document 1...</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Document 1...</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Document 1...</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Document 1...</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Document 1...</label>
                        </div>
                        <div class="form-check">
                            <button type="button" class="btn btn-outline-primary"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
                            <button type="button" class="btn btn-outline-success"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
                        </div>
                    </div>
                </section>
            </div>

            <!--**************************Trasanction**********************************-->

            <div class="col-lg-10 TRANSACTION-step">
                <section>
                    <div class="col-lg-12 bg-light">
                        <h4 class="infoclient">TRANSACTION</h4>
                    </div>
                </section>
                <section style="margin-top: 20px;">
                    <div class="col-lg-12">
                        <div id="accordion">


                            <!--*********************************************************       begin step1    *********************************************************       -->

                            <div class="card">
                                <form novalidate [formGroup]="formStepOne">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0 float-left">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                  Step 1
                                                </button>
                                        </h5>
                                        <h5 class="mb-0 text-right">
                                            <span class="btn-status">
                                                         <span [ngClass]="{REJECT:'btn-danger text-white',Pending:'btn-info text-white','He is waiting for your confirmation':'btn-success text-white'}[statusStepOne]">{{statusStepOne}}</span>
                                            </span>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="form-row align-items-center">
                                                <div class="col-lg-12">
                                                    <h6 class="title-step">Indicative Offer :</h6>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 padding-left">
                                                    <div class="form-row" style="margin-top: 30px;">
                                                        <div class="col-lg-3">
                                                            <label for="inputPassword6" [ngClass]="{'has-danger': offerAmountStepOne.invalid && (offerAmountStepOne.dirty || offerAmountStepOne.touched),'has-sucess':offerAmountStepOne.valid && (offerAmountStepOne.dirty || offerAmountStepOne.touched) }">Offer Amount : $ <em>*</em></label>
                                                            <input class="form-control" type="text" formControlName="offerAmountStepOne">
                                                            <div class="form-control-feedback" *ngIf="offerAmountStepOne.errors && (offerAmountStepOne.dirty || offerAmountStepOne.touched)">
                                                                <p class="text-danger" *ngIf="offerAmountStepOne.errors.required">Amount is required</p>
                                                                <p class="text-danger" *ngIf="offerAmountStepOne.errors.pattern">Amount is not valid</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label for="inputPassword6">Closing Service :</label>
                                                            <select class="form-control" id="selected" formControlName="closingServiceStepOne">
                                                                       <option value="3">Direct</option>
                                                                       <option value="2">Escrow/Closing Service</option>
                                                                       <option value="1">Direct or Escrow/Closing Service </option>
                                                                    </select>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label for="inputPassword6">Due Diligence Option</label>
                                                            <select class="form-control" formControlName="dueDiligenceOptionStepOne" (change)="onChangedDueDiligenceStepOne($event)" id="selected">
                                                                        <option value="2"> Non Exclusive</option>  
                                                                        <option value="1">Exclusive</option>
                                                           
                                                                    </select>
                                                        </div>
                                                        <div class="col-lg-1">
                                                            <label for="inputPassword6" [ngClass]="{'has-danger': daysStepOne.invalid && (daysStepOne.dirty || daysStepOne.touched),'has-sucess':daysStepOne.valid && (daysStepOne.dirty || daysStepOne.touched) }">Days :</label>
                                                            <input class="form-control" formControlName="daysStepOne" type="text">
                                                            <div class="form-control-feedback" *ngIf="daysStepOne.errors && (daysStepOne.dirty || daysStepOne.touched)">
                                                                <p class="text-danger" *ngIf="daysStepOne.errors.pattern">Days is not valid</p>
                                                            </div>
                                                        </div>
                                                        <br><br>
                                                        <div class="col-sm-4 text-center"><button type="button" [disabled]="!checkStepOne || isChangeValuesStepOne" (click)="onSubmitStepOne('ACCEPT')" class="btn btn-outline-success btn-lg">Accept</button></div>
                                                        <div class="col-sm-4 text-center"><button type="button" [disabled]="!checkStepOne" (click)="onSubmitStepOne('REJECT')" class="btn btn-outline-danger btn-lg">Reject</button></div>
                                                        <div class="col-sm-4 text-center"><button type="button" [disabled]="!checkStepOne || !isChangeValuesStepOne" (click)="onSubmitStepOne('COUNTER')" class="btn btn-outline-info btn-lg">Counter</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <pre>{{formStepOne.value | json}}</pre> -->
                                </form>
                            </div>
                            <!--*********************************************************       end step1    *********************************************************       -->
                            <!--*********************************************************       debut step2    *********************************************************       -->

                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                  Step 2
                                                </button>
                                    </h5>
                                    <h5 class="mb-0 text-right">
                                        <span class="btn-status">
                                                         <span [ngClass]="{REJECT:'btn-danger text-white',Pending:'btn-info text-white','He is waiting for your confirmation':'btn-success text-white'}[statusStepTwo]">{{statusStepTwo}}</span>
                                        </span>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="form-row align-items-center">
                                            <div class="col-lg-12">
                                                <h6 class="title-step">Due Diligence :</h6>
                                            </div>
                                        </div>
                                        <form novalidate [formGroup]="formStepTwo">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-8 float-left step2-btn">
                                                        <label for="inputPassword6">due diligence:</label>
                                                        <select class="form-control" id="selected" formControlName="DueDilidenceStepTwo" (change)="onchangeDueDiligenceStepTwo($event)">
                                                                       <option value="false">End due diligence</option>
                                                                       <option value="true">Extend</option>
                                                                    </select>
                                                    </div>
                                                    <div class="col-lg-4 float-left input-days"><label for="inputPassword6">Days :</label>
                                                        <input class="form-control" type="text" formControlName="daysStepTwo" id="days-input">
                                                    </div>
                                                    <div *ngIf="isInitStepTwo">
                                                        <div class="col-sm-12 text-center float-left">
                                                            <button type="button" [disabled]="!checkStepTwo" (click)="onSubmitStepTwo('INIT')" class="btn btn-outline-success btn-lg">Envoyer</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 float-left" *ngIf="!isInitStepTwo">
                                                        <div class="col-sm-3 text-center float-left">
                                                            <button type="button" [disabled]="!checkStepTwo || isChangeValuesStepTow" (click)="onSubmitStepTwo('ACCEPT')" class="btn btn-outline-success btn-lg">Accept</button>
                                                        </div>
                                                        <div class="col-sm-3 text-center float-left">
                                                            <button type="button" [disabled]="!checkStepTwo" (click)="onSubmitStepTwo('REJECT')" class="btn btn-outline-danger btn-lg">Reject</button>
                                                        </div>
                                                        <div class="col-sm-3 text-center float-left">
                                                            <button type="button" [disabled]="!checkStepTwo || !isChangeValuesStepTow" (click)="onSubmitStepTwo('COUNTER')" class="btn btn-outline-info btn-lg">Counter</button>
                                                        </div>
                                                        <div class="col-sm-3 text-center float-left">
                                                            <button type="button" class="btn btn-outline-info btn-lg">Order Due Diligence Report</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <pre>{{formStepTwo.value | json}}</pre> -->
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <!--*********************************************************       end step2    *********************************************************       -->
                            <!--*********************************************************       begin step3    *********************************************************       -->
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          Step 3
                                        </button>
                                    </h5>
                                    <h5 class="mb-0 text-right">
                                        <span class="btn-status">
                                                         <span [ngClass]="{REJECT:'btn-danger text-white',Pending:'btn-info text-white','He is waiting for your confirmation':'btn-success text-white'}[statusStepTheree]">{{statusStepTheree}}</span>
                                        </span>
                                    </h5>

                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <!-- begin info step 3 for seller and buyer -->
                                    <div class="card-footer text-muted" style="background-color: #fff">
                                        <div class="form-row align-items-center">
                                            <div class="col-lg-12">
                                                <h6 class="title-step">{{detectedUser | uppercase}} INFORMATION :</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                          
                                            <div class="col-md-12 padding-left">
                                                <form novalidate [formGroup]="formStepThereeInformation">
                                                    <div class="form-row" style="margin-top: 30px;">
                                                        <div class="col-lg-3">
                                                            <label for="inputPassword6" [ngClass]="{'has-danger': company.invalid && (company.dirty || company.touched),'has-sucess':company.valid && (company.dirty || company.touched) }"> Company <em>*</em></label>
                                                            <input class="form-control" formControlName="company" type="text">
                                                            <div class="form-control-feedback" *ngIf="company.errors && (company.dirty || company.touched)">
                                                                <p class="text-danger" *ngIf="company.errors.required">Company is required</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label for="inputPassword6" [ngClass]="{'has-danger': contactPerson.invalid && (contactPerson.dirty || contactPerson.touched),'has-sucess':contactPerson.valid && (contactPerson.dirty || contactPerson.touched) }"> Contact Person <em>*</em></label>
                                                            <input class="form-control" formControlName="contactPerson" type="text">
                                                            <div class="form-control-feedback" *ngIf="contactPerson.errors && (contactPerson.dirty || contactPerson.touched)">
                                                                <p class="text-danger" *ngIf="contactPerson.errors.required">Contact Person is required</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label for="inputPassword6" [ngClass]="{'has-danger': address.invalid && (address.dirty || address.touched),'has-sucess':address.valid && (address.dirty || address.touched) }"> Address <em>*</em></label>
                                                            <input class="form-control" formControlName="address" type="text">
                                                            <div class="form-control-feedback" *ngIf="address.errors && (address.dirty || address.touched)">
                                                                <p class="text-danger" *ngIf="address.errors.required">Address is required</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label for="inputPassword6" [ngClass]="{'has-danger': city.invalid && (city.dirty || city.touched),'has-sucess':city.valid && (city.dirty || city.touched) }"> City <em>*</em></label>
                                                            <input class="form-control" formControlName="city" type="text">
                                                            <div class="form-control-feedback" *ngIf="city.errors && (city.dirty || city.touched)">
                                                                <p class="text-danger" *ngIf="city.errors.required">City Person is required</p>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <label for="inputPassword6" [ngClass]="{'has-danger': state.invalid && (state.dirty || state.touched),'has-sucess':state.valid && (state.dirty || state.touched) }"> State <em>*</em></label>
                                                            <select class="form-control" id="selected" formControlName="state">
                                                                        <option *ngFor="let item of states" value="{{item.id}}">{{item.text}}</option> 
                                                            </select>
                                                            <div class="form-control-feedback" *ngIf="state.errors && (state.dirty || state.touched)">
                                                                <p class="text-danger" *ngIf="state.errors.required">State Person is required</p>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <label for="inputPassword6" [ngClass]="{'has-danger': zip.invalid && (zip.dirty || zip.touched),'has-sucess':zip.valid && (zip.dirty || zip.touched) }"> Zip <em>*</em></label>
                                                            <input class="form-control" formControlName="zip" type="text">
                                                            <div class="form-control-feedback" *ngIf="zip.errors && (zip.dirty || zip.touched)">
                                                                <p class="text-danger" *ngIf="zip.errors.required">Zip Person is required</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label for="inputPassword6" [ngClass]="{'has-danger': phone.invalid && (phone.dirty || phone.touched),'has-sucess':phone.valid && (phone.dirty || phone.touched) }"> Phone <em>*</em></label>
                                                            <input class="form-control" type="text" formControlName="phone">
                                                            <div class="form-control-feedback" *ngIf="phone.errors && (phone.dirty || phone.touched)">
                                                                <p class="text-danger" *ngIf="phone.errors.required">Phone Person is required</p>
                                                                <p class="text-danger" *ngIf="phone.errors.pattern">Phone Person is valid</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label for="inputPassword6" [ngClass]="{'has-danger': email.invalid && (email.dirty || email.touched),'has-sucess':email.valid && (email.dirty || email.touched) }"> Email <em>*</em></label>
                                                            <input class="form-control" formControlName="email" type="text">
                                                            <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                                                                <p class="text-danger" *ngIf="email.errors.required">Email Person is required</p>
                                                                <p class="text-danger" *ngIf="email.errors.email">Email is not valid</p>
                                                            </div>
                                                        </div>

                                                        

                                                        <div class="col-lg-3">
                                                            <label for="inputPassword6" [ngClass]="{'has-danger': loanServicerId.invalid && (loanServicerId.dirty || loanServicerId.touched),'has-sucess':loanServicerId.valid && (loanServicerId.dirty || loanServicerId.touched) }"> Loan Service <em>*</em></label>
                                                            <select class="form-control" id="selected" formControlName="loanServicerId">
                                                                                    <option value="1">Service 1</option>
                                                                                    <option value="2">Service 2</option>
                                                                                    <option value="3">Service 3</option>
                                                            </select>
                                                            <div class="form-control-feedback" *ngIf="loanServicerId.errors && (loanServicerId.dirty || loanServicerId.touched)">
                                                                <p class="text-danger" *ngIf="loanServicerId.errors.required">Loan service is required</p>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <label for="inputPassword6"> Other </label>
                                                            <input class="form-control" formControlName="other" type="text">
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button type="button" [disabled]="!checkInformationBuyerSeller" class="btn btn-success btn-lg btn-form-transaction" (click)="onSubmitStepThereeInformation()">Submit</button>
                                                        </div>
                                                    </div>
                                                    <!-- <pre>{{formStepThereeInformation.value | json}}</pre> -->
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end info step 3 for seller and buyer -->
                                    <div class="card-body">
                                        <div class="form-row align-items-center">
                                            <div class="col-lg-12">
                                                <h6 class="title-step">Indicative Offer :</h6>
                                            </div>
                                        </div>
                                        <form novalidate [formGroup]="formStepTheree">
                                            <div class="row">
                                                <div class="col-md-12 padding-left">
                                                    <div class="form-row" style="margin-top: 30px;">

                                                        <div class="col-lg-6">
                                                            <label for="inputPassword6">Offer Amount : $</label>
                                                            <input formControlName="offerAmountStepTheree" class="form-control" type="text">
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label for="inputPassword6">Closing Service :</label>
                                                            <select class="form-control" id="selected" formControlName="closingServiceStepTheree">
                                                                <option value="3">Direct</option>
                                                            <option value="2">Escrow/Closing Service</option>
                                                            <option value="1">Direct or Escrow/Closing Service </option>
                                                            </select>
                                                        </div><br><br>
                                                        <div class="row" *ngIf="isInitStepTheree">
                                                            <div class="col-sm-12 text-center float-left">
                                                                <button type="button" [disabled]="!checkStepTheree" (click)="onSubmitStepTheree('INIT')" class="btn btn-outline-success btn-lg">Send</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12" *ngIf="!isInitStepTheree">
                                                                <div class="col-sm-4 text-center float-left">
                                                                    <button type="button" [disabled]="!checkStepTheree || isChangeValuesStepTheree" (click)="onSubmitStepTheree('ACCEPT')" class="btn btn-outline-success btn-lg">Accept</button>
                                                                </div>
                                                                <div class="col-sm-4 text-center float-left">
                                                                    <button type="button" [disabled]="!checkStepTheree" (click)="onSubmitStepTheree('REJECT')" class="btn btn-outline-danger btn-lg">Reject</button>
                                                                </div>
                                                                <div class="col-sm-4 text-center float-left">
                                                                    <button type="button" [disabled]="!checkStepTheree || !isChangeValuesStepTheree" (click)="onSubmitStepTheree('COUNTER')" class="btn btn-outline-info btn-lg">Counter</button>
                                                                </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- <pre>{{formStepTheree.value | json}}</pre> -->



                                </div>
                            </div>


                            <!--*********************************************************       End step3    *********************************************************       -->


                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>