.btn-status {
    background: transparent;
    /*border:1px solid black;*/
    border-radius: 0px;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.btn-status:hover {
    /*border:1px solid black;*/
    border-radius: 0px;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: transparent;
}

.toast-top-right {
    bottom: 12px !important;
}

.has-danger {
    color: red;
    font-style: italic;
}

.has-success {
    color: green;
}