#menu-top-active .active {
    border-bottom: 1px solid #69b943 !important;
    color: #69b943 !important;
    text-decoration: underline !important;
}

#menu-top-active .nav-item a:hover {
    border-bottom: 1px solid #69b943 !important;
    color: #69b943 !important;
    text-decoration: underline !important;
}



