<div *ngIf="nav.visible">
        <section class="menu-top-background">
    
            <div id="top-bar" class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="menu-top" id="menu-top-active">
                            <ul class="nav nav-pills float-right"  id="menu-top">
                                <li class="nav-item">
                                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['about-us']">ABOUT US</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['services']">SERVICES</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['contact-us']">CONTACT US</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['faq']">FAQ</a>
                                </li>
    
    
                                <li class="nav-item border-left">
                                    <a class="nav-link">Welcome, {{authServ.getCurrentUser()}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="onLogout()">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand"><img src="assets/img/logo.png"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse  menu-bottom" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto"  id="menu-bottom">
                            <li class="nav-item">
                                <a class="nav-link ">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['buy-notes']">BUY NOTES<span class="caret"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['sellnote']">SELL NOTES<span class="caret"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['my-exchange']">MY EXCHANGE</a>
                            </li>
                        </ul>
    
                    </div>
                </div>
            </nav>
        </section>
    </div>