<section style="margin-top: 20px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <section>
          <div class="col-lg-12 bg-light">
            <h4 class="infoclient">Pub</h4>
          </div>
        </section>
        <section style="margin-top: 20px;">
          <div class="col-lg-12 doc-space"></div>
        </section>
      </div>
      <div class="col-lg-10 TRANSACTION-step">
        <section style="margin-top: 20px;">
          <div class="container-fluid">
            <div class="row page-due-diligence">
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-header">
                    <h3 class="title-due-diligence-page">BPO</h3>
                    <h5 class="su-title-due-diligence-page">(Broker Price Opinion)</h5>
                  </div>
                  <div class="card-body">
                    <div class="col-md-6 offset-md-3">
                      <a class="btn btn-outline-success btn-lg" type="button" (click) ="toPayement('BPO')">Purchase BPO</a>
                    </div>
                    <h6 class="prix-title-due-diligence-page">$115.00</h6>
                  </div>
                  <div class="card-footer text-muted">
                    <p class="card-text">A Broker Price Opinion is a report on a specific property by a local real estate agent. It typically shows Comparable Sales, Comparable Listings, neighborhood data, estimated repairs, an opinion of value "As Is" and "Repaired", and photos of the subject property and area. It will be a "drive by inspection" without access to the interior.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-header">
                    <h3 class="title-due-diligence-page">O&E</h3>
                    <h5 class="su-title-due-diligence-page">(Ownership and Encumbrance Report Price Opinion)</h5>
                  </div>
                  <div class="card-body">
                    <div class="col-md-6 offset-md-3">
                      <a class="btn btn-outline-danger btn-lg" type="button" (click) ="toPayement('Purchase O&E')">Purchase O&E</a>
                    </div>
                    <h6 class="prix-title-due-diligence-page">$115.00</h6>
                  </div>
                  <div class="card-footer text-muted">
                    <p class="card-text">Also known as a Property Report. This is an information only title search (not insured) for the recorded owner and liens on the subject property. It typically shows the last recorded owner, asset valuations, taxes and if current, recorded liens, and recorded judgments..</p>
                  </div>
                </div>
              </div>
            </div><br>
            <div class="row page-due-diligence">
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-header">
                    <h3 class="title-due-diligence-page">Due Diligence Report Package</h3><!-- <h5 class="su-title-due-diligence-page">(Broker Price Opinion)</h5> -->
                  </div>
                  <div class="card-body">
                    <div class="col-md-6 offset-md-3">
                      <a class="btn btn-outline-warning btn-lg" type="button" (click) ="toPayement('Due Diligence Report Package')">Purchase Report</a>
                    </div>
                    <h6 class="prix-title-due-diligence-page">Starting at $115.00</h6>
                  </div>
                  <div class="card-footer text-muted">
                    <p class="card-text">Due Diligence Report Package include, Review of the Loan life to ensure that the note, assignments, Allonges, title insurance and current property insurance are present. As well as delivery of MERS report, PACER search results and state and Federal court record search results.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-header">
                    <h3 class="title-due-diligence-page">Assignment</h3>
                    <h5 class="su-title-due-diligence-page">Preparation and Recording</h5>
                  </div>
                  <div class="card-body">
                    <div class="col-md-6 offset-md-3">
                      <a class="btn btn-outline-primary btn-lg" type="button" (click) ="toPayement('Assignment')">Purchase AOM</a>
                    </div>
                    <h6 class="prix-title-due-diligence-page">$200.00</h6>
                  </div>
                  <div class="card-footer text-muted">
                    <p class="card-text">Due Diligence Report Package include, Review of the Loan life to ensure that the note, assignments, Allonges, title insurance and current property insurance are present. As well as delivery of MERS report, PACER search results and state and Federal court record search results.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
