<section style="margin-top: 20px;" id="payment">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2">
					<section>
						<div class="col-lg-12 bg-light">
							<h4 class="infoclient">Pub</h4>
						</div>
					</section>
					<section style="margin-top: 20px;">
						<div class="col-lg-12 doc-space"></div>
					</section>
				</div>
				<div class="col-lg-10">
					<section style="margin-top: 20px;">
						<div class="container-fluid">
							<div class="row page-Payment">
								<div class="col-md-12">
									<h3 class="text-center titleGreen">{{modePayment}}</h3>
									<p class="text-center su-text-Green">A Broker Price Opinion is a report on a specific property by a local real estate agent. It typically shows Comparable Sales, Comparable Listings, neighborhood data, estimated repairs, an opinion of value "As Is" and "Repaired", and photos of the subject property and area. It will be a "drive by inspection" without access to the interior</p><br>
									<br>
								</div>
								<div class="col-md-12 bg-light border information-client">
									<div class="col-md-6 float-left">
										<p class="text-left">First Name: <span>{{userInfo.firstName}}</span></p>
										<p class="text-left">Last Name: <span> {{userInfo.lastName}}</span></p>
									</div>
									<div class="col-md-6 float-left">
										<p class="text-left">Phone: <span>{{userInfo.PhoneNumber}}</span></p>
										<p class="text-left">Email: <span>{{userInfo.UserName}}</span></p>
									</div>
								</div>
							</div><br>
							<div class="row">
								<div class="col-md-12">
									<h5 class="text-center titleGreen">Please Make Selection Below:</h5>
									<p class="text-center">5-7 business Days Exterior Residential BPO</p><br>
									<p class="text-center text-call">Please call for commercial and multifamily orders for a quote.</p>
								</div>
							</div><br>
							<div class="row">
								<div class="col-md-12">
									<h4 class="text-img-page-detail title bg-light">CREDIT CARD INFORMATION</h4><br>
									<br>
                  <form novalidate [formGroup]="formPayment" (ngSubmit)="onSubmitPayment()"  class="page-register">

                      <div class="form-row">
                          <div class="col-lg-12 text-center">
                              <h6>Total Due : $<strong >{{amount}}</strong></h6><br><br>
                          </div>
                          <div class="col-lg-4">                              
                              <label for="inputPassword6" [ngClass]="{'has-danger': creditType.invalid && (creditType.dirty || creditType.touched),'has-success': creditType.valid && (creditType.dirty || creditType.touched)}">Credit Card Type:<em>*</em></label> 
                              <select class="form-control" id="selected" formControlName="creditType">
                                <option value="0">
                                  Select Card Type
                                </option>
                                <option value="Mastercard">
                                    Mastercard
                                </option>
                                <option value="Visa">
                                    Visa
                                </option>
                                <option value="American Express">
                                    American Express
                                </option>
                                <option value="Other">
                                    Other
                                </option>
                              </select>
                              <div class="form-control-feedback" *ngIf="creditType.errors && (creditType.dirty || creditType.touched)">
                                  <p class="text-danger" *ngIf="creditType.errors.required">creditType is required </p>
                                  
                              </div>
                      </div>
                        <div class="col-lg-4">
                          <label for="inputPassword6"[ngClass]="{'has-danger': card.invalid && (card.dirty || card.touched),'has-success': card.valid && (card.dirty || card.touched)}">Credit Card Number: <em>*</em></label>
                          <input class="form-control" placeholder="" type="text" formControlName="card">
                          <div class="form-control-feedback" *ngIf="card.errors && (card.dirty || card.touched)">
                              <p class="text-danger" *ngIf="card.errors.required">Credit Card Number is required</p>
                              <p class="text-danger" *ngIf="card.errors.pattern">Credit Card Number is not valid ,exp <i>14************68</i> </p>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <label for="inputPassword6" [ngClass]="{'has-danger': expiration.invalid && (expiration.dirty || expiration.touched),'has-success': expiration.valid && (expiration.dirty || expiration.touched)}">Credit Card Expiration: <em>*</em></label> 
                          <input class="form-control" placeholder="MM/YY" type="text" formControlName="expiration">
                          <div class="form-control-feedback" *ngIf="expiration.errors && (expiration.dirty || expiration.touched)">
                              <p class="text-danger" *ngIf="expiration.errors.required">Credit Card Expiration is required</p>
                          </div>
                        </div>
                        
                        
                        <div class="col-lg-4">
                          <label for="inputPassword6" [ngClass]="{'has-danger': Name.invalid && (Name.dirty || Name.touched),'has-success': Name.valid && (Name.dirty || Name.touched)}">Name on Credit Card: <em>*</em></label> 
                          <input class="form-control" placeholder="" type="text" formControlName="Name">
                          <div class="form-control-feedback" *ngIf="Name.errors && (Name.dirty || Name.touched)">
                              <p class="text-danger" *ngIf="Name.errors.required">Name is required</p>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <label for="inputPassword6" [ngClass]="{'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),'has-success': lastName.valid && (lastName.dirty || lastName.touched)}">Last Name: <em>*</em></label> 
                          <input class="form-control" placeholder="" type="text" formControlName="lastName">
                          <div class="form-control-feedback" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                              <p class="text-danger" *ngIf="lastName.errors.required">Last Name is required</p>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <label for="inputPassword6"[ngClass]="{'has-danger': address.invalid && (address.dirty || address.touched),'has-success': address.valid && (address.dirty || address.touched)}">Billing Address: <em>*</em></label> 
                          <input class="form-control" placeholder="" type="text" formControlName="address">
                          <div class="form-control-feedback" *ngIf="address.errors && (address.dirty || address.touched)">
                              <p class="text-danger" *ngIf="address.errors.required">Billing Address is required</p>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <label for="inputPassword6" [ngClass]="{'has-danger': city.invalid && (city.dirty || city.touched),'has-success': city.valid && (city.dirty || city.touched)}">City: <em>*</em></label> 
                          <input class="form-control" placeholder="" type="text" formControlName="city">
                          <div class="form-control-feedback" *ngIf="city.errors && (city.dirty || city.touched)">
                              <p class="text-danger" *ngIf="city.errors.required">City is required</p>
                          </div>
                        </div>
                        <div class="col-lg-4">                              
                            <label for="inputPassword6" [ngClass]="{'has-danger': state.invalid && (state.dirty || state.touched),'has-success': state.valid && (state.dirty || state.touched)}">State:<em>*</em></label> 
                            <select class="form-control" id="selected" formControlName="state">
                                <option value="0">
                                    All
                                  </option>
                                  <option value="ALABAMA">
                                    ALABAMA
                                  </option>
                                  <option value="ALASKA">
                                    ALASKA
                                  </option>
                                  <option value="ARIZONA">
                                    ARIZONA
                                  </option>
                                  <option value="COLORADO">
                                    COLORADO
                                  </option>
                                  <option value="FLORIDA">
                                    FLORIDA
                                  </option>
                                  <option value="NewYork">
                                    NEW YORK
                                  </option>
                            </select>
                            <div class="form-control-feedback" *ngIf="state.errors && (state.dirty || state.touched)">
                                <p class="text-danger" *ngIf="state.errors.required">state is required </p>
                            </div>
                          </div>
                        <div class="col-lg-4">
                          <label for="inputPassword6" [ngClass]="{'has-danger': zip.invalid && (zip.dirty || zip.touched),'has-success': zip.valid && (zip.dirty || zip.touched)}">Zip: <em>*</em></label> 
                          <input class="form-control" placeholder="" type="text" formControlName="zip">
                          <div class="form-control-feedback" *ngIf="zip.errors && (zip.dirty || zip.touched)">
                              <p class="text-danger" *ngIf="zip.errors.required">Zip is required</p>
                             
                          </div>
                          <br>
                          <br>
                        </div>
                        <div class="col-lg-12">
                          <h4 class="text-img-page-detail title bg-light">USER INFORMATION</h4>
                        </div><br>
                        <br>
                        <div class="col-lg-6 offset-lg-3">
                          <label for="inputPassword6">Email:</label>
                          <input class="form-control" placeholder="" type="text" formControlName="userEmail">
                          <div class="form-control-feedback" *ngIf="userEmail.errors && (userEmail.dirty || userEmail.touched)">
                            <p class="text-danger" *ngIf="userEmail.errors.pattern">Email is not valid ,exp <i>contact@adelphatech.com</i> </p>
                        </div><br>
                        <br>
                        </div>
                        <div class="col-lg-12">
                          <h4 class="text-img-page-detail title bg-light">PROPERTY INFORMATION</h4><br>
                          <br>
                        </div>
                        <div class="col-lg-3">
                          <label for="inputPassword6">FCI Product ID #:</label> 
                          <input class="form-control" placeholder="" type="text" formControlName="FCI"> 
                          <small>(Product information will autofill) OR Please complete below if Product is not listed on the site.)</small><br>
                          <br>
                        </div>
                        <div class="col-lg-3">
                          <label for="inputPassword6">Borrower Name:</label>
                          <input class="form-control" placeholder="" type="text" formControlName="borrowerName">
                          <br>
                          <br>
                        </div>
                        <div class="col-lg-3">
                          <label for="inputPassword6">City:</label> 
                          <input class="form-control" placeholder="" type="text" formControlName="propertyCity">
                          <br>
                          <br>
                        </div>
                        <div class="col-lg-3">
                          <label for="inputPassword6">Property Address:</label> 
                          <input class="form-control" placeholder="" type="text"formControlName="propertyAddress">
                          <br>
                          <br>
                        </div>
                        <div class="col-lg-3">                              
                            <label for="inputPassword6">State:</label> 
                            <select class="form-control" id="selected" formControlName="propertyState">
                                <option value="0">
                                    All
                                  </option>
                                  <option value="ALABAMA">
                                    ALABAMA
                                  </option>
                                  <option value="ALASKA">
                                    ALASKA
                                  </option>
                                  <option value="ARIZONA">
                                    ARIZONA
                                  </option>
                                  <option value="COLORADO">
                                    COLORADO
                                  </option>
                                  <option value="FLORIDA">
                                    FLORIDA
                                  </option>
                                  <option value="NewYork">
                                    NEW YORK
                                  </option>
                            </select>
                          </div>
                        <div class="col-lg-3">
                          <label for="inputPassword6">Zip: </label>
                          <input class="form-control" placeholder="" type="text" formControlName="propertyZip"><br>
                          <br>
                        </div>
                        <div class="col-lg-3">                              
                            <label for="inputPassword6">Property Type:</label> 
                            <select class="form-control" id="selected" formControlName="propertyType">
                              <option value="Single Family Res">
                                Single Family Res
                              </option>
                              <option value="Two Family Res">
                                Two Family Res
                              </option>
                              <option value="Four Family Res">
                                Four Family Res
                              </option>
                            </select>
                        </div>
                        <div class="col-md-3 text-center div-btn-payment">
                            <button type="submit"  class="btn btn-success btn-lg float-left" id="btn-payment">Submit</button>
          
                            
                        </div>
                      </div>
                      <!-- <pre>{{formPayment.value | json}}</pre>  -->
                    </form>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section><br><br>