<section style="margin-top: 50px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3 float-left">
                    <p class="text-center page-detail">{{loanNote?.property?.address}},{{loanNote?.property?.city}}, {{loanNote?.property?.zip}}</p>
                </div>
                <div class="col-sm-1 float-left text-center"><img class="img-borderr" src="assets/img/border.png"></div>
                <div class="col-sm-4 float-left">
                    <p class="text-center page-detail-espace-tow">Seller asking: <span>${{loanNote?.askingPrice}} ({{loanNote?.askingPrice / loanNote?.principaleBalance | number : '1.2-2' }}% UPB)</span><br>
                        <small class="small-text">Pricing may vary over time and is subject to Seller Approval</small></p>
                </div>
                <div class="col-sm-1 float-left text-center"><img class="img-borderr" src="assets/img/border.png"></div>

            </div>
        </div>
        <hr class="sort-by">
    </div>
</section>
<section style="margin-top: 20px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4 float-left">
                    <!--slideshow-->
                    <div #flexslider class="flexslider">
                        <ul class="slides">
                            <li data-thumb="assets/img/Art-1.png" rel="gallery1"><img src="assets/img/Art-1.png"></li>
                            <li data-thumb="assets/img/Art-1.png" rel="gallery1"><img src="assets/img/Art-1.png"></li>
                            <li data-thumb="assets/img/Art-1.png" rel="gallery1"><img src="assets/img/Art-1.png"></li>
                            <li data-thumb="assets/img/Art-1.png" rel="gallery1"><img src="assets/img/Art-1.png"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 float-left">
                    <h3 class="text-left text-img-page-detail title">General Note Information</h3>

                    <p class="text-left text-img-page-detail">Product ID <span class="pull-right">{{loanNote?.loanNoteID}}</span></p>
                    <p class="text-left text-img-page-detail">Lien Position <span *ngIf="loanNote?.deedMortgageStatus; else elseBlock" class="pull-right">1<sup>st</sup></span>

                        <ng-template #elseBlock>
                            <span class="pull-right" *ngIf="Note?.deedMortgage === undefined; else elseBlock2">{{Note?.deedMortgage?.lienPosition}}</span>
                            <ng-template #elseBlock2>
                                <span>2<sup>nd</sup></span>
                            </ng-template>
                        </ng-template>

                    </p>
                    <p class="text-left text-img-page-detail">Note Status <span class="pull-right">{{loanNote?.loanStatus?.name}}</span></p>
                    <p class="text-left text-img-page-detail">Note type <span class="pull-right">{{loanNote?.loanType?.nameLoanType}}</span></p>
                    <p class="text-left text-img-page-detail">#of Payments Last 12 Months <span class="pull-right">{{loanNote?.ofPayementsLast12}}</span></p>
                    <p class="text-left text-img-page-detail">Paid To <span class="pull-right">{{loanNote?.paidToDate | date:'MM/dd/yyyy'}}</span></p>
                    <p class="text-left text-img-page-detail">Loan Maturity <span class="pull-right">{{loanNote?.noteMaturityDate | date:'MM/dd/yyyy'}}</span></p>
                    <p class="text-left text-img-page-detail">Property Type <span class="pull-right">{{PropertyType?.typeProperty?.name}}</span></p>
                    <p class="text-left text-img-page-detail">Original Balance <span class="pull-right">none</span></p>
                    <p class="text-left text-img-page-detail">Principal Balance <span class="pull-right">{{loanNote?.originalLoanAmount}}</span></p>
                    <p class="text-left text-img-page-detail">Est. Market Value <span class="pull-right">{{loanNote?.propertyMarketValue}}</span></p>
                    <p class="text-left text-img-page-detail">Payment Amount <span class="pull-right">none</span></p>
                    <p class="text-left text-img-page-detail">Note Rate <span class="pull-right">{{loanNote?.noteInterestRate}}</span></p>
                    <p class="text-left text-img-page-detail">Sold Rate <span class="pull-right">{{loanNote?.soldInterestRate}}</span></p>
                </div>
                <div class="col-sm-1 float-left text-center"><img class="img-borderr" height="410px;" src="assets/img/border.png" width="1px;"></div>
                <div class="col-sm-3 float-left">
                    <h3 class="text-left text-img-page-detail title">Actions</h3><button class="btn btn-success btn-lg btn-block btn-action" type="button" (click)="SubmitOffer(loanNote)">Submit an Indicative Offer</button><br>
                    <br>
                    <hr>
                    <a href="#" class="hrf-action"><i aria-hidden="true" class="fa fa-chevron-right" id="icone-investment"></i> Investment Strategy Model</a>
                </div>
            </div>
        </div>
        <hr class="sort-by">
    </div>
</section>
<section style="margin-top: 20px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-img-page-detail title">Similar listings</h3>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-12">
                <div id="owl-demo" #owldemo>
                    <div class="item" *ngFor="let Note of similarNotes">
                        <div class="card">
                            <div class="col-sm-12 card-body">
                                <div class="col-lg-6 float-left"><img src="assets/img/Art-1.png" width="100%"></div>
                                <div class="col-lg-6 float-left">
                                    <p class="card-text text-card">Product ID <span>{{Note?.loanNoteID}}</span></p>
                                    <p class="card-text text-card"> <span *ngIf="Note?.deedMortgageStatus; else elseBlock">1<sup>st</sup> Mortgage</span>
                                        <ng-template #elseBlock>
                                            <span *ngIf="Note?.deedMortgage === undefined; else elseBlock2">{{Note?.deedMortgage?.lienPosition}} Mortgage</span>
                                            <ng-template #elseBlock2>
                                                <span>2<sup>nd</sup> Mortgage</span>
                                            </ng-template>
                                        </ng-template>
                                    </p>
                                    <p class="card-text text-card">UPB: <span>{{Note?.loanNoteID}}</span></p>
                                    <p class="card-text text-card">Not Rate: <span>{{Note?.loanNoteID}}</span></p>
                                </div>
                            </div>
                            <div class="card-footer text-muted add-card text-left">
                                {{loanNote?.property?.address}},{{loanNote?.property?.city}}, {{loanNote?.property?.zip}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br>
<br>
<section style="margin-top: 20px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-img-page-detail title">Detailed Note Information</h3>
            </div>
        </div><br>
        <div class="row">
            <div class="col-lg-12 nav-pill-footer border">
                <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="pills-home" aria-selected="true" class="nav-link active" data-toggle="pill" href="#pills-TERMS" id="pills-TERMS-tab" role="tab">NOTE TERMS</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="pills-profile" aria-selected="false" class="nav-link" data-toggle="pill" href="#pills-Dates" id="pills-Dates-tab" role="tab">Note Dates</a>
                    </li>
                    <li class="nav-item" *ngIf="bankruptcyChapter != null">
                        <a aria-controls="pills-contact" aria-selected="false" class="nav-link" data-toggle="pill" href="#pills-Bankruptcy" id="pills-Bankruptcy-tab" role="tab">Bankruptcy</a>
                    </li>
                    <li class="nav-item" *ngIf="loanNote?.escrowImpounds != undefined">
                        <a aria-controls="pills-profile" aria-selected="false" class="nav-link" data-toggle="pill" href="#pills-Escrow" id="pills-Escrow-tab" role="tab">Escrow Information</a>
                    </li>
                    <li class="nav-item" *ngIf="loanNote?.foreclosure != undefined">
                        <a aria-controls="pills-contact" aria-selected="false" class="nav-link" data-toggle="pill" href="#pills-Foreclosure" id="pills-Foreclosure-tab" role="tab">Foreclosure</a>
                    </li>
                    <li class="nav-item" *ngIf="loanNote?.drawPeriodStartDate != undefined || loanNote?.repaymentPeriodStartDate != undefined ">
                        <a aria-controls="pills-contact" aria-selected="false" class="nav-link" data-toggle="pill" href="#pills-Credit" id="pills-Credit-tab" role="tab">Line Of Credit</a>
                    </li>
                    <li class="nav-item" *ngIf="loanNote?.indexName != undefined || loanNote?.margin != undefined  || loanNote?.ceiling != undefined  || loanNote?.floor != undefined  || loanNote?.nextAdjustement != undefined  || loanNote?.adjustementFrequency != undefined ">
                        <a aria-controls="pills-contact" aria-selected="false" class="nav-link" data-toggle="pill" href="#pills-ARM" id="pills-ARM-tab" role="tab">ARM</a>
                    </li>
                    <li class="nav-item" *ngIf="loanNote?.property != undefined">
                        <a aria-controls="pills-contact" aria-selected="false" class="nav-link" data-toggle="pill" href="#pills-Property" id="pills-Property-tab" role="tab">Property Information</a>
                    </li>
                </ul>
                <hr>
                <div class="tab-content" id="pills-tabContent">
                    <div aria-labelledby="pills-TERMS-tab" class="tab-pane fade show active" id="pills-TERMS" role="tabpanel">
                        <div class="container-fluid">
                            <div class="row" id="footer-nav-pills">
                                <div class="col-md-12">
                                    <div class="col-lg-3 float-left">
                                        <p class="text-left text-img-page-detail footer">Lien Position
                                            <span *ngIf="loanNote?.deedMortgageStatus; else elseBlock" class="pull-right">1<sup>st</sup></span>
                                            <ng-template #elseBlock>
                                                <span class="pull-right" *ngIf="Note?.deedMortgage === undefined; else elseBlock2">{{Note?.deedMortgage?.lienPosition}}</span>
                                                <ng-template #elseBlock2>
                                                    <span>2<sup>nd</sup></span>
                                                </ng-template>
                                            </ng-template>
                                        </p>
                                        <p class="text-left text-img-page-detail footer">Original Balance <span class="pull-right">{{loanNote?.originalLoanAmount}} </span></p>
                                        <p class="text-left text-img-page-detail footer">Total Payment <span class="pull-right">$427.08</span></p>
                                        <p class="text-left text-img-page-detail footer">Total in Trust <span class="pull-right">{{loanNote?.payementTrust}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Unpaid Charges <span class="pull-right">$0.00</span></p>
                                        <p class="text-left text-img-page-detail footer">Ballon payment <span class="pull-right">{{loanNote?.ballonPayement}}</span></p>
                                        <p class="text-left text-img-page-detail footer">On Forbearance Plan <span class="pull-right">{{loanNote?.onForbearancePlan}}</span></p>
                                    </div>
                                    <div class="col-sm-1 float-left text-center"><img class="img-borderr footer-bord" src="assets/img/border.png" height="180px;" width="1px;"></div>
                                    <div class="col-lg-4 float-left">
                                        <p class="text-left text-img-page-detail footer">Amortization Type <span class="pull-right">{{loanNote?.amortizationType?.name}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Current Blance <span class="pull-right">$48,423.00</span></p>
                                        <p class="text-left text-img-page-detail footer">Note Rate <span class="pull-right">{{loanNote?.noteInterestRate}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Unpaid Interest <span class="pull-right">{{loanNote?.UnpaidInterest}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Prepayment Penalty <span class="pull-right">{{loanNote?.prePayPenalty}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Loan Terms Modified <span class="pull-right">{{loanNote?.loanTermsModified}}</span></p>
                                        <p class="text-left text-img-page-detail footer">In Foreclosure <span class="pull-right">{{loanNote?.foreclosure?.forceclosureStatus}}</span></p>
                                    </div>
                                    <div class="col-sm-1 float-left text-center"><img class="img-borderr footer-bord" src="assets/img/border.png" height="180px;" width="1px;"></div>
                                    <div class="col-lg-3 float-left">
                                        <p class="text-left text-img-page-detail footer">Loan Type <span class="pull-right">0006200</span></p>
                                        <p class="text-left text-img-page-detail footer">PI <span class="pull-right">{{loanNote?.PI}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Sold Rate <span class="pull-right">{{loanNote?.soldInterestRate}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Late Charges is <span class="pull-right">{{loanNote?.lateCharge}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Rate Type <span class="pull-right">{{loanNote?.rateType?.name}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Registered w/MERS <span class="pull-right">{{loanNote?.registerswMers}}</span></p>
                                        <p class="text-left text-img-page-detail footer">In Bankruptcy <span class="pull-right">{{bankruptcyChapter?.bankruptcyStatus}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr class="sort-by"> -->
                        </div>
                    </div>
                    <div aria-labelledby="pills-Dates-tab" class="tab-pane fade" id="pills-Dates" role="tabpanel">
                        <div class="container-fluid">
                            <div class="row" id="footer-nav-pills">
                                <div class="col-md-12">
                                    <div class="col-lg-5 float-left">
                                        <p class="text-left text-img-page-detail footer">Origination Date <span class="pull-right">{{loanNote?.originationDate | date:'MM/dd/yyyy'}}</span></p>
                                        <p class="text-left text-img-page-detail footer">First Payment Date <span class="pull-right">{{loanNote?.firstPayementDate | date:'MM/dd/yyyy'}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Paid to Date <span class="pull-right">{{loanNote?.paidToDate | date:'MM/dd/yyyy'}}</span></p>
                                        <p class="text-left text-img-page-detail footer">nextPayementDate <span class="pull-right">{{loanNote?.nextPayementDate | date:'MM/dd/yyyy'}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Maturity Date <span class="pull-right">{{loanNote?.noteMaturityDate | date:'MM/dd/yyyy'}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Last Payment Received <span class="pull-right">{{loanNote?.payersLastPayementMadeDate | date:'MM/dd/yyyy'}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr class="sort-by"> -->
                        </div>
                    </div>
                    <div aria-labelledby="pills-Bankruptcy-tab" class="tab-pane fade" id="pills-Bankruptcy" role="tabpanel" *ngIf="bankruptcyChapter != null">
                        <div class="container-fluid">
                            <div class="row" id="footer-nav-pills">
                                <div class="col-md-12">
                                    <div class="col-lg-5 float-left">
                                        <p class="text-left text-img-page-detail footer">Bk Discharge Date <span class="pull-right">{{bankruptcyChapter?.bkDisChargeDate | date:'MM/dd/yyyy'}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Bk Chapter <span class="pull-right">{{bankruptcyChapter?.name}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Bk Dismissal Date <span class="pull-right">{{bankruptcyChapter?.bkDismissalDate | date:'MM/dd/yyyy'}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Bk Filling Date <span class="pull-right">{{bankruptcyChapter?.bkFillingDate | date:'MM/dd/yyyy'}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr class="sort-by"> -->
                        </div>
                    </div>
                    <div aria-labelledby="pills-Escrow-tab" class="tab-pane fade" id="pills-Escrow" role="tabpanel" *ngIf="loanNote?.escrowImpounds != undefined">
                        <div class="container-fluid">
                            <div class="row" id="footer-nav-pills">
                                <div class="col-md-12">
                                    <div class="col-lg-3 float-left">
                                        <p class="text-left text-img-page-detail footer">Note Payment Amount<span class="pull-right">{{loanNote?.escrowImpounds?.notePaymentAmount}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Tax Portion<span class="pull-right">{{loanNote?.escrowImpounds?.taxPortion}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Insurance Portion <span class="pull-right">{{loanNote?.escrowImpounds?.insurancePortion}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Trust Balance <span class="pull-right">{{loanNote?.escrowImpounds?.trustBalance}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr class="sort-by"> -->
                        </div>
                    </div>
                    <div aria-labelledby="pills-Foreclosure-tab" class="tab-pane fade" id="pills-Foreclosure" role="tabpanel" *ngIf="loanNote?.foreclosure != undefined">
                        <div class="container-fluid">
                            <div class="row" id="footer-nav-pills">
                                <div class="col-md-12">
                                    <div class="col-lg-3 float-left">
                                        <p class="text-left text-img-page-detail footer">Date Opened <span class="pull-right">{{loanNote?.foreclosure?.dateOpened | date:'MM/dd/yyyy'}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Schedule Sale Date <span class="pull-right">{{loanNote?.foreclosure?.scheduledSaleDate | date:'MM/dd/yyyy'}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr class="sort-by"> -->
                        </div>
                    </div>
                    <div aria-labelledby="pills-Credit-tab" class="tab-pane fade" id="pills-Credit" role="tabpanel" *ngIf="loanNote?.drawPeriodStartDate != undefined || loanNote?.repaymentPeriodStartDate != undefined ">
                        <div class="container-fluid">
                            <div class="row" id="footer-nav-pills">
                                <div class="col-md-12">
                                    <div class="col-lg-3 float-left">
                                        <p class="text-left text-img-page-detail footer">Draw Period Start Date <span class="pull-right">{{loanNote?.drawPeriodStartDate | date:'MM/dd/yyyy'}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Repayment Period Start Date <span class="pull-right">{{loanNote?.repaymentPeriodStartDate | date:'MM/dd/yyyy'}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr class="sort-by"> -->
                            
                        </div>
                    </div>
                    <div aria-labelledby="pills-ARM-tab" class="tab-pane fade" id="pills-ARM" role="tabpanel" *ngIf="loanNote?.indexName != undefined || loanNote?.margin != undefined  || loanNote?.ceiling != undefined  || loanNote?.floor != undefined  || loanNote?.nextAdjustement != undefined  || loanNote?.adjustementFrequency != undefined ">
                        <div class="container-fluid">
                            <div class="row" id="footer-nav-pills">
                                <div class="col-md-12">
                                    <div class="col-lg-3 float-left">
                                        <p class="text-left text-img-page-detail footer">Current Index Name<span class="pull-right">{{loanNote?.indexName}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Margin <span class="pull-right">{{loanNote?.margin}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Ceiling <span class="pull-right">{{loanNote?.ceiling}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Floor <span class="pull-right">{{loanNote?.floor}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Next Adjustment <span class="pull-right">{{loanNote?.nextAdjustement}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Adjustment Frequency <span class="pull-right">{{loanNote?.adjustementFrequency}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr class="sort-by"> -->
                        </div>
                    </div>
                    <div aria-labelledby="pills-Property-tab" class="tab-pane fade" id="pills-Property" role="tabpanel" *ngIf="loanNote?.property != undefined">
                        <div class="container-fluid">
                            <div class="row" id="footer-nav-pills">
                                <div class="col-md-12">
                                    <div class="col-lg-3 float-left">
                                        <p class="text-left text-img-page-detail footer">Property Address <span class="pull-right">{{loanNote?.property?.address}} {{loanNote?.property?.city}} {{loanNote?.property?.zip}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Property Type <span class="pull-right">{{PropertyType?.typeProperty?.name}}</span></p>
                                        <p class="text-left text-img-page-detail footer">City <span class="pull-right">{{loanNote?.property?.city}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Market Value <span class="pull-right">{{loanNote?.propertyMarketValue}}</span></p>
                                        <p class="text-left text-img-page-detail footer">LTV Ratio <span class="pull-right">none</span></p>
                                        <p class="text-left text-img-page-detail footer">Country <span class="pull-right">{{loanNote?.property?.country}}</span></p>
                                        <p class="text-left text-img-page-detail footer">Valuation Date <span class="pull-right">{{PropertyType?.valuationType?.name}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr class="sort-by"> -->
                        </div>
                    </div>
                    <br>
                    <div class="col-sm-12">
                        <p class="text-img-page-detail title-footer">Seller Comments</p>
                    </div>
                    <div class="col-sm-12">
                        <p class="text-img-page-detail title-footer-text">{{loanNote?.comments}}.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
<br><br>
<section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success" role="alert">
              <div class="col-lg-8 offset-lg-2">
                  <p class="text-center alert-contact">
                    If you have any questions or concerns please contact ExchangeLoans at support@exchangeloans.com or call (800)931-2424 x 750.
                  </p>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </section><br>
<br>