<section style="margin-top: 20px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <section>
          <div class="col-lg-12 bg-light">
            <h4 class="infoclient">Pub</h4>
          </div>
        </section>
        <section style="margin-top: 20px;">
          <div class="col-lg-12 doc-space"></div>
        </section>
      </div>
      <div class="col-lg-10">
        <div class="col-lg-12 bg-light">
          <h4 class="infoclient">HOW TO SELL NOTES</h4>
        </div>
        <div class="col-sm-8 offset-sm-2 Page-Sell-Notes">
          <div class="row ">

            <div class="col-lg">
              <div class="card text-center icone-top border rounded">
                <div class="card-block">
                  <p class="card-text text-center"><img src="assets/img/Indicative-Offer.svg" width="56px"></p>
                </div>
                <div class="card-footer text-muted">
                  <p>Search For Notes</p>
                </div>
              </div>
            </div>

            <div class="col-lg-1 icone-next text-center img-next"><img src="assets/img/icone/Next.svg"></div>

            <div class="col-lg">	
              <div class="card text-center icone-top border rounded">
                <div class="card-block">
                  <p class="card-text text-center"><img src="assets/img/Indicative-Offer.svg" width="56px"></p>
                </div>
                <div class="card-footer text-muted">
                  <p>Search For Notes</p>
                </div>
              </div>
            </div>

            <div class="col-lg-1 icone-next text-center img-next"><img src="assets/img/icone/Next.svg"></div>

            <div class="col-lg">	
              <div class="card text-center icone-top border rounded">
                <div class="card-block">
                  <p class="card-text text-center"><img src="assets/img/Indicative-Offer.svg" width="56px"></p>
                </div>
                <div class="card-footer text-muted">
                  <p>Search For Notes</p>
                </div>
              </div>
            </div>
              
            <div class="col-lg-1 icone-next text-center img-next"><img src="assets/img/icone/Next.svg"></div>

            <div class="col-lg">	
              <div class="card text-center icone-top border rounded">
                <div class="card-block">
                  <p class="card-text text-center"><img src="assets/img/Indicative-Offer.svg" width="56px"></p>
                </div>
                <div class="card-footer text-muted">
                  <p>Search For Notes</p>
                </div>
              </div>
            </div>

          </div>

        </div><br><br>
        <div class="row">
          <div class="col-lg-12">
            <p class="text-one">To sell Newly Originated Notes, Performing Notes, Non Performing Notes, and Loan Pools on the FCI EXCHANGE trading platform, simply follow the 3 Steps below. If you are listing more than 10 Notes ,or a Loan Pool, we will email you an Excel Spread Sheet to complete and email back. For assistance, please email your request to admin@fciexchange.com or call our customer service department (800) 931-2424 x750.</p><br>
            <p class="text-one">Provide as much information about the product for sale as you can. Remember that buyers respond faster and will often pay more when more information is supplied. Consider adding a number of photos to your listing, as well as a current independent BPO or an Ownership & Encumbrance Report, both available from FCI under Due Diligence Options..</p><br>

            <p class="text-one">Please note that FCI EXCHANGE is a supervised Note trading platform only and has no involvement in, or control over, a Seller's asking price or a Buyer's offering price. To assist in fair disclosure, Sellers are required to put down an asking price. In the event a Note listed individually or in a Loan Pool becomes an REO before a trade is completed, the Note must be removed from the website or reclassified as an REO. As an additional service, we offer REO Management and Sales with FCI Lenders Services at www.trustfci.com or call 714-282-2424, ext 226 for more information.</p><br>

            <h5 class="title-condition-page">"Diamond" Program</h5>

            <p class="text-one">The Diamond Program is an industry first that provides the most information and credibility to Buyers for the Notes and Loan Pools being sold.</p><br>

            <p class="text-one">Notes are put into loan servicing with FCI Lender Services (just a $45 set up fee). FCI will "scrub" the notes by going through each document to help create a compliant and complete loan package for sale. There is a live data feed between FCI Lender Services and FCI EXCHANGE that will allow qualified buyers to view live account activity, loan history and related documents. Buyers will have the most up to date information ever offered on Notes For Sale. Informed Buyers are more comfortable making offers and typically make higher offers. For more information about FCI Lender Services, click on www.trustfci.com</p><br>

            <p class="text-one">There are no fees to use this site until, and unless, a transaction closes. FCI EXCHANGE uses this performance based fee structure to ensure Sellers get their money and Buyers get their Product before the site earns its Seller Sale Processing Fee.</p><br>

            <p class="text-one">To update information on an existing Note or Note Pool For Sale go to My Notes For Sale.The previously filled out information will appear, simply make any changes and click "Submit"</p><br>

            <p class="text-one before-text">1. Make sure you are Registered. There is no charge.</p>

            <p class="text-one before-text">2. LIST PRODUCT FOR SALE (Click on each item for related forms and instructions) </p>

            <!--<p class="text-one before-text padding">CHOOSE AND SELECT NOTE CATEGORY </p>
            <p class="text-one before-text padding-su-title"><a href="#">Newly Originated Notes For Sale (click here)</a></p>
            <p class="text-one before-text padding-su-title"><a href="#">Performing Notes For Sale (click here)</a></p>
            <p class="text-one before-text padding-su-title"><a href="#">Non Performing Notes For Sale (click here)</a></p>
            <p class="text-one before-text padding-su-title"><a href="#">Loan Pools for Sale (click here)</a></p>-->

            <p class="text-one before-text">3. After notes are entered, and approval email is received (usually 4-8 business hours), go to <a href="#"> My Notes For Sale</a> to view status, offers, and to start the Closing Process and complete the Transaction.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br>
<br>