


  <section>
      <div class="container icones-container">
        <div class="row icones">
            <div class="col-sm-12 logo-zone"><img src="assets/img/logo.png"></div>
        </div>
      </div>
      <div class="container page-login-container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="card card-signup">
                              <h2 class="card-title text-center card-title-login" style="color:#818181">Forgot Your <span style="color: #acd589">Password?</span></h2>
                              <h6 class="card-title text-center">Enter your email address below and we'll get you back on track.</h6>
              <div class="row">
                <div class="col-md-10 offset-md-1 inputs">
                  <form class="form" [formGroup]="resetpassword" (ngSubmit)="onResetPassword()">
                    <div class="card-content">
                      <div class="form-group">
                                              <label for="formGroupExampleInput">Email</label> 
                                              <input class="form-control" formControlName="Email" id="formGroupExampleInput" placeholder="Email" type="text">
  
                                              <label for="formGroupExampleInput">Password</label> 
                                              <input class="form-control" formControlName="password" id="formGroupExampleInput" placeholder="Password" type="Password">
  
                                              <label for="formGroupExampleInput">Confirm Password</label> 
                                              <input class="form-control" formControlName="confirmpassword" id="formGroupExampleInput" placeholder="Confirm Password" type="Password">
                      </div>
                      <div class="form-group col-sm-4 offset-4 text-center">
                                              <button type="submit" class="btn btn-success btn-lg">Reset</button>
                                              <!-- <a href="./Login-Page.html" class="Back_to_sign_in">Back to sign in</a> -->
                                          </div>
                    </div>
                    <!-- <pre>{{ resetpassword.value | json}} </pre> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><br><br>