<section class="sell-notes" style="margin-top: 20px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <section>
                    <div class="col-lg-12 bg-light">
                        <h4 class="infoclient">Pub</h4>
                    </div>
                </section>
                <section style="margin-top: 20px;">
                    <div class="col-lg-12 doc-space"></div>
                </section>
            </div>
            <div class="col-lg-10">
                <section style="margin-top: 20px;">
                    <div class="container-fluid">
                        <div class="tab">
                            <button class="tablinks active" onclick="openCity(event, 'London')">Step 1</button>
                            <button class="tablinks" onclick="openCity(event, 'Paris')">Step 2</button>
                            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Step 3</button>
                            <button class="tablinks" onclick="openCity(event, 'Canada')">Step 4</button>
                        </div>
                        <form class="page-register" [formGroup]="sellNoteForm" (ngSubmit)="onSubmitSellNote()">
                            <div class="tabcontent" style="display:block" id="London">
                                <div class="row">
                                    <div class="col-lg-12 bg-light">
                                        <h4 class="infoclient">LOAN INFORMATION</h4>
                                        <!-- <p class="pull-right requi">Required Fields*</p> -->
                                    </div><br>
                                    <br>
                                    <div class="col-lg-12" id="sell-note-page1" name="sell-note-page1" style="margin-top: 20px;">
                                        <div class="form-row">
                                            <div class="col-lg-3">
                                                <label for="exampleFormControlSelect1" [ngClass]="{'has-danger': loanType.invalid && (loanType.dirty || loanType.touched),'has-success': loanType.valid && (loanType.dirty || loanType.touched)}">Loan Type: <em>*</em></label>
                                                <!--  (change)="modalSelectAddValidation(['drawPeriodStartDate','repaymentPeriodStartDate'],LoanType.options[LoanType.value].text,'selected')" -->
                                                <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="loanType" id="selectbox">
                                             <option value=null disabled selected>--Select--</option>
                                             <option  *ngFor=" let type of _LoanTypes" [ngClass]="{'#consumergoods': type.typeName=='Line Of Credit'}"  [value]="type.typeId">{{type.typeName}}</option>
                                         </select>

                                                <div class="form-control-feedback" *ngIf="loanType.errors && (loanType.dirty || loanType.touched)">
                                                    <p class="text-danger" *ngIf="loanType.errors.required">Loan Type is required</p>
                                                </div>

                                            </div>
                                            <!---Modal-LoanTypelineOfCredit-->
                                            <section>
                                                <div class="modal fade" data-backdrop="static" data-target="#consumergoods" id="consumergoods">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button class="close" data-dismiss="modal" type="button" (click)="resetSelect('loanType')">&times;</button>
                                                                <h4 class="modal-title"></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <label class="col-form-label" for="example-date-input">Draw Period Start Date</label> <input formControlName="paidToDate" class="form-control" id="example-date-input" type="date"
                                                                                value="2011-08-19">
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <label class="col-form-label" for="example-date-input">Repayment Period Start Date</label> <input formControlName="repaymentPeriodStartDate" class="form-control" id="example-date-input"
                                                                                type="date" value="2011-08-19">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-success" data-dismiss="modal" type="button">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <!---Fin-Modal-LoanTypelineOfCredit-->

                                            <section>
                                                <div class="modal fade" data-backdrop="static" data-target="#consumergoods2" id="consumergoods2">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button class="close" data-dismiss="modal" type="button" (click)="resetSelect('rateType')">&times;</button>
                                                                <h4 class="modal-title"></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <label class="col-form-label" for="example-date-input">Next Adjustment</label> <input formControlName="nextAdjustement" class="form-control" id="example-date-input" type="date"
                                                                                value="2011-08-19">
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <label class="col-form-label" for="example-date-input">Adj. Payment Change Date</label> <input formControlName="adjPayementChangeDate" class="form-control" id="example-date-input"
                                                                                type="date" value="2011-08-19">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">Adjusment Frecuency:</label> <input formControlName="adjustementFrequency" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">Floor:</label> <input formControlName="floor" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">Index Name</label> <input formControlName="indexName" class="form-control" placeholder="" type="text" value="0.00">
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">Margin: %</label> <input formControlName="margin" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <label for="inputPassword6">Ceiling:</label> <input formControlName="ceiling" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-success" data-dismiss="modal" type="button">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <!---Fin-Modal-myModal-select-arm-->
                                            <div class="col-lg-3">
                                                <label for="exampleFormControlSelect1" [ngClass]="{'has-danger': amortizationType.invalid && (amortizationType.dirty || amortizationType.touched),'has-success': amortizationType.valid && (amortizationType.dirty || amortizationType.touched)}">Amortization Type: <em>*</em></label>

                                                <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="amortizationType">
                                           <option value=null disabled selected>--Select--</option>
                                           <option  *ngFor=" let type of _amortizationType" [value]="type.typeId">{{type.typeName}}</option>
                                         </select>
                                                <div class="form-control-feedback" *ngIf="amortizationType.errors && (amortizationType.dirty || amortizationType.touched)">
                                                    <p class="text-danger" *ngIf="amortizationType.errors.required">Amortization Type is required</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <label for="exampleFormControlSelect1" [ngClass]="{'has-danger': rateType.invalid && (rateType.dirty || rateType.touched),'has-success': rateType.valid && (rateType.dirty || rateType.touched)}"> Rate Type: <em>*</em></label>

                                                <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="rateType" id="selectbox2">
                                                <option value=null disabled selected>--Select--</option>
                                                <option  *ngFor=" let type of _rateType" [ngClass]="{'#consumergoods2': type.typeName=='ARM'}" [value]="type.typeId">{{type.typeName}}</option>
                                              </select>
                                                <div class="form-control-feedback" *ngIf="rateType.errors && (rateType.dirty || rateType.touched)">
                                                    <p class="text-danger" *ngIf="rateType.errors.required">Amortization Type is required</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <label for="exampleFormControlSelect1" [ngClass]="{'has-danger': loanStatus.invalid && (loanStatus.dirty || loanStatus.touched),'has-success': loanStatus.valid && (loanStatus.dirty || loanStatus.touched)}">status Loan: <em>*</em></label>

                                                <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="loanStatus">
                                           <option value=null disabled selected>--Select--</option>
                                           <option  *ngFor="let type of _loanStatus" [value]="type.typeId">{{type.typeName}}</option>
                                         </select>
                                                <div class="form-control-feedback" *ngIf="loanStatus.errors && (loanStatus.dirty || loanStatus.touched)">
                                                    <p class="text-danger" *ngIf="loanStatus.errors.required">Loan Status is required</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-12" style="margin-top: 30px;">
                                                <div class="form-group row">
                                                    <div class="col-lg-2 checkbox float-left">
                                                        <label><input formControlName="prePayPenalty" type="checkbox" value="true"> Pre Pay Penalty</label>
                                                    </div>
                                                    <div class="col-lg-2 checkbox float-left">
                                                        <label><input formControlName="ballonPayement" type="checkbox" value="true"> Balloon Payment</label>
                                                    </div>
                                                    <div class="col-lg-2 checkbox float-left">
                                                        <label><input formControlName="registerswMers" type="checkbox" value="true"> Registered w/MERS</label>
                                                    </div>
                                                    <div class="col-lg-3 checkbox float-left">
                                                        <label><input formControlName="onForbearancePlan" type="checkbox" value="true"> On Forbearance Plan</label>
                                                    </div>
                                                    <div class="col-lg-3 checkbox float-left">
                                                        <label><input formControlName="loanTermsModified" type="checkbox" value="true"> Loan Terms Modified</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group row">
                                                    <div class="col-lg-6 checkbox float-left">
                                                        <label>In Foreclosure <em>*</em> </label><input formControlName="foreclosureStatus" data-target="#myModal-yes-In-Foreclosure" data-toggle="modal" (click)="ModalAddValidation('Foreclosure',['dateOpened']);changeDRadioValue('foreclosureStatus','Foreclosure')"
                                                            [checked]="Foreclosure" type="radio" value="true"> Yes <input formControlName="foreclosureStatus" (click)="resetRadio('Foreclosure',['dateOpened']);" type="radio" value="false" [checked]="!Foreclosure">                                                        No

                                                    </div>
                                                    <div class="col-lg-6 checkbox float-left">
                                                        <label>In Bankruptcy <em>*</em> </label><input formControlName="bankruptcyStatus" data-target="#myModal-yes-In-Bankruptcy" data-toggle="modal" (click)="ModalAddValidation('Bankruptcy',['bkFillingDate','bkChapterID']);changeDRadioValue('bankruptcyStatus','Bankruptcy')"
                                                            [checked]="Bankruptcy" id="gridRadios1" type="radio" value="true"> Yes <input formControlName="bankruptcyStatus" (click)="resetRadio('Bankruptcy',['bkFillingDate','bkChapterID']);" type="radio" value="false"
                                                            [checked]="!Bankruptcy"> No
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- ********************************************************************Modal-3******************************************************************************* -->
                                            <section>
                                                <div formGroupName="foreclosure" class="modal fade" data-backdrop="static" id="myModal-yes-In-Foreclosure" role="dialog">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button class="close" data-dismiss="modal" type="button" (click)="ModalAddValidation('Foreclosure',['dateOpened'],'foreclosure');changeDRadioValue('foreclosureStatus','Foreclosure')">&times;</button>
                                                                <h4 class="modal-title">FORECLOSURE INFORMATION</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">Foreclosure & Attorney Fees Due: $</label> <input formControlName="attorneyFeesDue" class="form-control" placeholder="" type="text" value="0.00">
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">Name:</label> <input formControlName="name" class="form-control" placeholder="" type="text" value="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">Address:</label> <input formControlName="address" class="form-control" placeholder="" type="text" value="">
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <label for="inputPassword6">State:</label>
                                                                            <div class="dropdown">
                                                                                <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="stateID">
                                                <option value=null disabled selected>--Select--</option>
                                                <option  *ngFor=" let type of _States" [value]="type.typeId">{{type.typeName}}</option>
                                              </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">City:</label> <input formControlName="city" class="form-control" placeholder="" type="text" value="">
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <label class="col-form-label" for="example-date-input">Scheduled Sale Date $</label> <input formControlName="scheduledSaleDate" class="form-control" id="example-date-input" type="date"
                                                                                value="2011-08-19">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">Zip:</label> <input formControlName="zip" class="form-control" placeholder="" type="text" value="">
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">Phone:</label> <input formControlName="phone" class="form-control" placeholder="" type="text" value="">
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">Email:</label> <input formControlName="email" class="form-control" placeholder="" type="text" value="">
                                                                            <div class="form-control-feedback" *ngIf="email.errors?.email && (email.dirty || email.touched)">
                                                                                <p class="text-danger">Email not valid</p>
                                                                            </div>


                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label [ngClass]="{'has-danger': dateOpened.invalid && (dateOpened.dirty || dateOpened.touched),'has-success': dateOpened.valid && (dateOpened.dirty || dateOpened.touched)}">Opened Date: <em>*</em><input formControlName="dateOpened" class="form-control" id="example-date-input" type="date" value="2011-08-19"></label>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-success" data-dismiss="modal" type="button" style="display:none" #closeforcMoule>Save</button> <button class="btn btn-success" (click)="validateFormGroup('foreclosure',['email','dateOpened'],'closeforcMoule','Foreclosure')"
                                                                    type="button">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- ********************************************************************fin-Modal-3******************************************************************************* -->
                                            <!-- ********************************************************************Modal-4******************************************************************************* -->
                                            <section>
                                                <div formGroupName="bankruptcy" class="modal fade" data-backdrop="static" id="myModal-yes-In-Bankruptcy" role="dialog">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button class="close" data-dismiss="modal" type="button" (click)="ModalAddValidation('Bankruptcy',['bkFillingDate','bkChapterID'],'bankruptcy');changeDRadioValue('bankruptcyStatus','Bankruptcy')">&times;</button>
                                                                <h4 class="modal-title">BANKRUPTCY</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <label class="col-form-label" for="example-date-input" [ngClass]="{'has-danger': bkFillingDate.invalid && (bkFillingDate.dirty || bkFillingDate.touched),'has-success': bkFillingDate.valid && (bkFillingDate.dirty || bkFillingDate.touched)}">BK Filing Date: <em>*</em></label>                                                                            <input formControlName="bkFillingDate" class="form-control" id="example-date-input" type="date" value="2011-08-19">
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <label class="col-form-label" for="example-date-input">BK Discharge Date: </label> <input formControlName="bkDisChargeDate" class="form-control" id="example-date-input" type="date"
                                                                                value="2011-08-19">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6" [ngClass]="{'has-danger': bkChapterID.invalid && (bkChapterID.dirty || bkChapterID.touched),'has-success': bkChapterID.valid && (bkChapterID.dirty || bkChapterID.touched)}">BK Chapter: <em>*</em></label>
                                                                            <div class="dropdown">
                                                                                <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="bkChapterID">
                                                <option value=null disabled selected>--Select--</option>
                                                <option  *ngFor=" let type of _BkChapter" [value]="type.typeId">{{type.typeName}}</option>
                                              </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <label class="col-form-label" for="example-date-input">BK Dismissal Date: </label> <input formControlName="bkDismissalDate" class="form-control" id="example-date-input" type="date"
                                                                                value="2011-08-19">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" data-dismiss="modal" style="display:none" #bkclosebtn></button> <button class="btn btn-success" type="button" (click)="validateFormGroup('bankruptcy',['bkFillingDate','bkChapterID'],'bkclosebtn','Bankruptcy')">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- ********************************************************************fin-Modal-4******************************************************************************* -->
                                            <div class="col-lg-3">
                                                <label [ngClass]="{'has-danger': originationDate.invalid && (originationDate.dirty || originationDate.touched),'has-success': originationDate.valid && (originationDate.dirty || originationDate.touched)}" class="col-form-label" for="example-date-input"></label>Origination Date <em>*</em> <input formControlName="originationDate" class="form-control" id="example-date-input" type="date" >
                                                <div class="form-control-feedback" *ngIf="originationDate.errors && (originationDate.dirty || originationDate.touched)">
                                                    <p class="text-danger" *ngIf="originationDate.errors.required">Origination Date is required</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <label [ngClass]="{'has-danger': paidToDate.invalid && (paidToDate.dirty || paidToDate.touched),'has-success': paidToDate.valid && (paidToDate.dirty || paidToDate.touched)}" class="col-form-label" for="example-date-input"></label>Paid to Date <em>*</em> <input formControlName="paidToDate" class="form-control" id="example-date-input" type="date" >
                                            </div>
                                            <div class="col-lg-3 ">
                                                <label [ngClass]="{'has-danger': nextPayementDate.invalid && (nextPayementDate.dirty || nextPayementDate.touched),'has-success': nextPayementDate.valid && (nextPayementDate.dirty || nextPayementDate.touched)}"class="col-form-label" for="example-date-input" ></label>Next Payment Date <em>*</em> <input formControlName="nextPayementDate" class="form-control" id="example-date-input" type="date" >
                                            </div>
                                            <div class="col-lg-3 ">
                                                <label [ngClass]="{'has-danger': payersLastPayementMadeDate.invalid && (payersLastPayementMadeDate.dirty || payersLastPayementMadeDate.touched),'has-success': payersLastPayementMadeDate.valid && (payersLastPayementMadeDate.dirty || payersLastPayementMadeDate.touched)}" class="col-form-label" for="example-date-input"></label>Payer's Last Payment Made Date <em>*</em> <input formControlName="payersLastPayementMadeDate" class="form-control" id="example-date-input" type="date" >
                                            </div>
                                            
                                                <div class="col-lg-3">
                                                    <label for="inputPassword6" [ngClass]="{'has-danger': originalLoanAmount.invalid && (originalLoanAmount.dirty || originalLoanAmount.touched),'has-success': originalLoanAmount.valid && (originalLoanAmount.dirty || originalLoanAmount.touched)}">Original Loan Amount: $ <em>*</em></label>                                                    <input formControlName="originalLoanAmount" class="form-control" placeholder="0.00" type="text">
                                                </div>
                                                <div class="col-lg-3">
                                                    <label for="inputPassword6" [ngClass]="{'has-danger': unPaidPrincipalBalance.invalid && (unPaidPrincipalBalance.dirty || unPaidPrincipalBalance.touched),'has-success': unPaidPrincipalBalance.valid && (unPaidPrincipalBalance.dirty || unPaidPrincipalBalance.touched)}">Unpaid Principal Balance: $ <em>*</em></label>                                                    <input formControlName="unPaidPrincipalBalance" class="form-control" placeholder="0.00" type="text">
                                                </div>
                                                <div class="col-lg-3">
                                                    <label [ngClass]="{'has-danger': noteMaturityDate.invalid && (noteMaturityDate.dirty || noteMaturityDate.touched),'has-success': noteMaturityDate.valid && (noteMaturityDate.dirty || noteMaturityDate.touched)}" class="col-form-label" for="example-date-input">Note Maturity Date <em>*</em> </label><input formControlName="noteMaturityDate" class="form-control" id="example-date-input" type="date" value="" >
                                                </div>

                                                <div class="col-lg-3">
                                                    <label for="inputPassword6" [ngClass]="{'has-danger': accruedLateCharges.invalid && (accruedLateCharges.dirty || accruedLateCharges.touched),'has-success': accruedLateCharges.valid && (accruedLateCharges.dirty || accruedLateCharges.touched)}">Accrued Late Charges: $: <em>*</em></label>                                                    <input formControlName="accruedLateCharges" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                </div>
                                            
                                            
                                                <div class="col-lg-3">
                                                    <label for="inputPassword6">Loan Charges: $</label> <input formControlName="loanCharges" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                </div>
                                                <div class="col-lg-3">
                                                    <label for="inputPassword6"># of Payments Last 12:</label> <input formControlName="ofPayementsLast12" class="form-control" placeholder="0.00" type="text">
                                                </div>
                                                <div class="col-lg-3">
                                                    <label [ngClass]="{'has-danger': firstPayementDate.invalid && (firstPayementDate.dirty || firstPayementDate.touched),'has-success': firstPayementDate.valid && (firstPayementDate.dirty || firstPayementDate.touched)}" class="col-form-label" for="example-date-input">First Payment Date<em>*</em></label> <input formControlName="firstPayementDate" class="form-control" id="example-date-input" type="date" value="">
                                                </div>
                                                <div class="col-lg-3">
                                                    <label for="exampleFormControlSelect1" [ngClass]="{'has-danger': closingType.invalid && (closingType.dirty || closingType.touched),'has-success': closingType.valid && (closingType.dirty || closingType.touched)}">Closing type: <em>*</em></label>

                                                    <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="closingType" id="selectbox3">
                                    <option value=null disabled selected>--Select--</option>              
                                  <option [ngClass]="{'#consumergoods3': type.typeId==2 || type.typeId==3}" *ngFor=" let type of _ClosingType" [value]="type.typeId">{{type.typeName}}</option>
                                               </select>
                                                </div>
                                                <!-- ********************************************************************Modal-5******************************************************************************* -->
                                                <section>
                                                    <div formGroupName="escrowImpounds" class="modal fade" data-backdrop="static" data-target="#consumergoods3" id="consumergoods3">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button class="close" data-dismiss="modal" type="button" (click)="resetSelect('closingType')">&times;</button>
                                                                    <h4 class="modal-title"></h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="container-fluid">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <label for="inputPassword6">Note Payment Amount: $</label> <input formControlName="notePaymentAmount" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="inputPassword6">TAX Portion: $</label> <input formControlName="taxPortion" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <label for="inputPassword6">Insurance Portion: $</label> <input formControlName="insurancePortion" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="inputPassword6">Annual Insurance Premium: $</label> <input formControlName="annualInsurancePremium" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <label for="inputPassword6">Annual Taxes: $</label> <input formControlName="annualTaxes" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="inputPassword6">Trust Balance: $</label> <input formControlName="trustBalance" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-success" data-dismiss="modal" type="button">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <!-- ********************************************************************fin-Modal-5******************************************************************************* -->
                                                
                                                    <div class="col-lg-3">
                                                        <label [ngClass]="{'has-danger': noteInterestRate.invalid && (noteInterestRate.dirty || noteInterestRate.touched),'has-success': noteInterestRate.valid && (noteInterestRate.dirty || noteInterestRate.touched)}" for="inputPassword6">Note Interest Rate: <em>*</em></label>                                                        <span>%</span> <input formControlName="noteInterestRate" class="form-control" placeholder="" type="text" value="0.000">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6">Sold Interest Rate:</label> <span>%</span> <input formControlName="soldInterestRate" class="form-control" placeholder="0.00" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label [ngClass]="{'has-danger': principaleBalance.invalid && (principaleBalance.dirty || principaleBalance.touched),'has-success': principaleBalance.valid && (principaleBalance.dirty || principaleBalance.touched)}" for="inputPassword6">Principale Blance:</label>                                                        <span>$</span> <em>*</em><input formControlName="principaleBalance" class="form-control" placeholder="0.00" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label [ngClass]="{'has-danger': paymentFrequency.invalid && (paymentFrequency.dirty || paymentFrequency.touched),'has-success': paymentFrequency.valid && (paymentFrequency.dirty || paymentFrequency.touched)}" for="inputPassword6">Payments Frequency: <em>*</em></label>
                                                        <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="paymentFrequency">
                                                        <option  *ngFor=" let type of _paymentFrequency" [value]="type.typeId">{{type.typeName}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <p class="info-sell">Seller must be a licensed Broker/Company to have a reduced Sold Rate that results in a servicing spread to the seller.</p>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6" [ngClass]="{'has-danger': lateCharge.invalid && (lateCharge.dirty || lateCharge.touched),'has-success': lateCharge.valid && (lateCharge.dirty || lateCharge.touched)}">Late charge is: <em>*</em></label>                                                        <input formControlName="lateCharge" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label [ngClass]="{'has-danger': loanServicer.invalid && (loanServicer.dirty || loanServicer.touched),'has-success': loanServicer.valid && (loanServicer.dirty || loanServicer.touched)}" for="inputPassword6">loan Servicer: <em>*</em></label>
                                                        <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="loanServicer">
                                                 <option  *ngFor=" let type of _loanServicer"  [selected]="type.typeId == '1'"  [value]="type.typeId">{{type.typeName}}</option>
                                               </select>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6" [ngClass]="{'has-danger': afterDays.invalid && (afterDays.dirty || afterDays.touched),'has-success': afterDays.valid && (afterDays.dirty || afterDays.touched)}">After Days <em>*</em></label>                                                        <input formControlName="afterDays" class="form-control" placeholder="" type="text" value="0.00">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6">Unpaid Interest: $</label> <input formControlName="UnpaidInterest" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6">Property Taxes Due: $</label> <input formControlName="propertyTaxesDue" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6">Payment Trust: $</label> <input formControlName="payementTrust" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6">P&I: $</label> <input class="form-control" placeholder="0.00" type="text" value="0.00">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6" [ngClass]="{'has-danger': TotalMonthlyLoanPayement.invalid && (TotalMonthlyLoanPayement.dirty || TotalMonthlyLoanPayement.touched),'has-success': TotalMonthlyLoanPayement.valid && (TotalMonthlyLoanPayement.dirty || TotalMonthlyLoanPayement.touched)}">Total Monthly Loan Payment: $ <em>*</em></label>                                                        <input formControlName="TotalMonthlyLoanPayement" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                    </div>
                                                
                                            
                                            <section>
                                                <div class="form-row align-items-center">
                                                    <div class="col-lg-12">
                                                        <h6 class="title-step">Check all that apply:</h6>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-6 checkbox float-left">
                                                            <label><input formControlName="deedMortgageStatus"   type="radio" value="false"  [checked]="!DeedMortgage"> 1st Trust Deed/Mortgage</label>
                                                        </div>
                                                        <div class="col-lg-6 checkbox float-left">
                                                            <label><input formControlName="deedMortgageStatus"  data-target="#myModal-select-Junior" (click)="ModalAddValidation('DeedMortgage',['lienPosition1','prnicipalBalance1','current1','informationAsOf1']);changeDRadioValue('deedMortgageStatus','DeedMortgage')" data-toggle="modal"  type="radio" value="true" [checked]="DeedMortgage" > Junior Trust Deed/Mortgage</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- ********************************************************************Modal-tow******************************************************************************* -->
                                            <section>
                                                <div formGroupName="deedMortgage" class="modal fade" data-backdrop="static" id="myModal-select-Junior" role="dialog">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button class="close" data-dismiss="modal" type="button" (click)="ModalAddValidation('DeedMortgage',['lienPosition1','prnicipalBalance1','current1','informationAsOf1'],'deedMortgage');changeDRadioValue('deedMortgageStatus','DeedMortgage')">&times;</button>
                                                                <h4 class="modal-title"></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <label for="inputPassword6">If Junior Trust Deed/Mortgage, lien position is:</label>
                                                                            <select class="form-control" (change)="SelectOptionAddValidation(['lienPosition1','prnicipalBalance1','current1','informationAsOf1'],$event.target.value)" id="selectedjuniorTrust">
                                          <option value="0" selected>2nd Trust Deed/Mortgage</option>
                                          <option value="1">3rd Trust Deed/Mortgage</option>
                                          <option value="2">Other</option>
                                       </select>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <label for="inputPassword6" [ngClass]="{'has-danger': lienPosition1.invalid && (lienPosition1.dirty || lienPosition1.touched),'has-success': lienPosition1.valid && (lienPosition1.dirty || lienPosition1.touched)}">Lien Position <em>*</em></label>
                                                                            <select class="form-control" id="" formControlName="lienPosition1">
                                          <option value="0" selected>1st Trust Deed/Mortgage</option>
                                          <option value="1">2nd Trust Deed/Mortgage</option>
                                          <option value="2">Other</option>
                                       </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6" [ngClass]="{'has-danger': prnicipalBalance1.invalid && (prnicipalBalance1.dirty || prnicipalBalance1.touched),'has-success': prnicipalBalance1.valid && (prnicipalBalance1.dirty || prnicipalBalance1.touched)}">Principal Balance: $ <em>*</em></label>
                                                                            <input formControlName="prnicipalBalance1" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">Monthly Payment: $</label>
                                                                            <input formControlName="monthlyPayment1" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <h6 class="title-step-section" [ngClass]="{'has-danger': current1.invalid && (current1.dirty || current1.touched),'has-success': current1.valid && (current1.dirty || current1.touched)}">Current <em>*</em></h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="form-group row">
                                                                            <div class="col-lg-2 checkbox float-left">
                                                                                <label><input type="radio" value="Yes" formControlName="current1"> Yes</label>
                                                                            </div>
                                                                            <div class="col-lg-2 checkbox float-left">
                                                                                <label><input type="radio" value="No" formControlName="current1"> No</label>
                                                                            </div>
                                                                            <div class="col-lg-3 checkbox float-left">
                                                                                <label><input type="radio" value="Unknown" formControlName="current1" [checked]="true"> Unknown</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <h6 class="title-step-section">Modified</h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="form-group row">
                                                                            <div class="col-lg-2 checkbox float-left">
                                                                                <label><input type="radio" value="Yes" formControlName="modified1"> Yes</label>
                                                                            </div>
                                                                            <div class="col-lg-2 checkbox float-left">
                                                                                <label><input type="radio" value="No" formControlName="modified1"> No</label>
                                                                            </div>
                                                                            <div class="col-lg-3 checkbox float-left">
                                                                                <label><input type="radio" value="Unknown" formControlName="modified1" [checked]="true"> Unknown</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <label class="col-form-label" for="example-date-input" [ngClass]="{'has-danger': informationAsOf1.invalid && (informationAsOf1.dirty || informationAsOf1.touched),'has-success': informationAsOf1.valid && (informationAsOf1.dirty || informationAsOf1.touched)}">Information as of<em>*</em></label>
                                                                        <input formControlName="informationAsOf1" class="form-control" id="example-date-input" type="date" value="2011-08-19">
                                                                    </div>
                                                                </div><br><br>
                                                                <div class="container-fluid" id="formlienPosition2" style="display:none;">
                                                                    <div class="row">

                                                                        <div class="col-lg-12">
                                                                            <label for="inputPassword6" [ngClass]="{'has-danger': lienPosition2.invalid && (lienPosition2.dirty || lienPosition2.touched),'has-success': lienPosition2.valid && (lienPosition2.dirty || lienPosition2.touched)}">Lien Position <em>*</em></label>
                                                                            <select class="form-control" id="" formControlName="lienPosition2">
                                          <option value="1" selected>2nd Trust Deed/Mortgage</option>
                                          <option value="2">Other</option>
                                       </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6" [ngClass]="{'has-danger': prnicipalBalance2.invalid && (prnicipalBalance2.dirty || prnicipalBalance2.touched),'has-success': prnicipalBalance2.valid && (prnicipalBalance2.dirty || prnicipalBalance2.touched)}">Principal Balance: $ <em>*</em></label>
                                                                            <input formControlName="prnicipalBalance2" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label for="inputPassword6">Monthly Payment: $</label>
                                                                            <input formControlName="monthlyPayment2" class="form-control" placeholder="0.00" type="text" value="0.00">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <h6 class="title-step-section" [ngClass]="{'has-danger': current2.invalid && (current2.dirty || current2.touched),'has-success': current2.valid && (current2.dirty || current2.touched)}">Current <em>*</em></h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="form-group row">
                                                                            <div class="col-lg-2 checkbox float-left">
                                                                                <label><input type="radio" value="Yes" formControlName="current2"> Yes</label>
                                                                            </div>
                                                                            <div class="col-lg-2 checkbox float-left">
                                                                                <label><input type="radio" value="No" formControlName="current2"> No</label>
                                                                            </div>
                                                                            <div class="col-lg-3 checkbox float-left">
                                                                                <label><input type="radio" value="Unknown"  formControlName="current2" [checked]="true"> Unknown</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <h6 class="title-step-section">Modified</h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <div class="form-group row">
                                                                            <div class="col-lg-2 checkbox float-left">
                                                                                <label><input type="radio" value="Yes"  formControlName="modified2"> Yes</label>
                                                                            </div>
                                                                            <div class="col-lg-2 checkbox float-left">
                                                                                <label><input type="radio" value="No"  formControlName="modified2"> No</label>
                                                                            </div>
                                                                            <div class="col-lg-3 checkbox float-left">
                                                                                <label><input type="radio" value="Unknown"  formControlName="modified2"  [checked]="true"> Unknown</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <label class="col-form-label" for="example-date-input" [ngClass]="{'has-danger': informationAsOf2.invalid && (informationAsOf2.dirty || informationAsOf2.touched),'has-success': informationAsOf2.valid && (informationAsOf2.dirty || informationAsOf2.touched)}">Information as of<em>*</em></label>
                                                                        <input formControlName="informationAsOf2" class="form-control" id="example-date-input" type="date" value="2011-08-19">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-success" data-dismiss="modal" type="button" #closeBtn style="display:none"></button> <button type="button" (click)="validateFormGroup('deedMortgage',['lienPosition1','prnicipalBalance1','current1','informationAsOf1'],'closeBtn','DeedMortgage')">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <!-- ********************************************************************fin-Modal-tow******************************************************************************* -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabcontent" id="Paris">
                                <div class="row">
                                    <div class="col-lg-12 bg-light">
                                        <h4 class="infoclient">PROPERTY INFORMATION</h4>
                                    </div><br>
                                    <div class="col-lg-12" style="margin-top: 20px;">
                                        <div formGroupName="property" class="form-row">
                                            <div class="col-lg-4">
                                                <label [ngClass]="{'has-danger': typePropertyID.invalid && (typePropertyID.dirty || typePropertyID.touched),'has-success': typePropertyID.valid && (typePropertyID.dirty || typePropertyID.touched)}" for="inputPassword6">Property Type: <em>*</em></label>
                                                <div class="dropdown">
                                                    <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="typePropertyID">
                                             <option value=null disabled selected>--Select--</option>
                                             <option  *ngFor=" let type of _PropertyTypes" [value]="type.typeId">{{type.typeName}}</option>
                                           </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <label [ngClass]="{'has-danger': address.invalid && (address.dirty || address.touched),'has-success': address.valid && (address.dirty || address.touched)}" for="inputPassword6">Property Address: <em>*</em></label>                                                <input formControlName="address" class="form-control" placeholder="" type="text">
                                            </div>
                                            <div class="col-lg-4">
                                                <label [ngClass]="{'has-danger': city.invalid && (city.dirty || city.touched),'has-success': city.valid && (city.dirty || city.touched)}" for="inputPassword6">City: <em>*</em></label> <input formControlName="city"
                                                    class="form-control" placeholder="" type="text">
                                            </div>
                                            <div class="col-lg-4">
                                                <label for="inputPassword6">County:</label> <input formControlName="country" class="form-control" placeholder="" type="text">
                                            </div>
                                            <div class="col-lg-4">
                                                <label for="inputPassword6">Zip:</label> <input formControlName="zip" class="form-control" placeholder="" type="text">
                                            </div>
                                            <div class="col-lg-4">
                                                <label [ngClass]="{'has-danger': occupancyStatusID.invalid && (occupancyStatusID.dirty || occupancyStatusID.touched),'has-success': occupancyStatusID.valid && (occupancyStatusID.dirty || occupancyStatusID.touched)}" for="inputPassword6">Occupancy Status: <em>*</em></label>
                                                <div class="dropdown">
                                                    <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="occupancyStatusID">
                                             <option value=null disabled selected>--Select--</option>
                                             <option  *ngFor=" let type of _OccupancyStatus" [value]="type.typeId">{{type.typeName}}</option>
                                           </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <label for="inputPassword6">State:</label>
                                                <div class="dropdown">
                                                    <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="stateID">
                                             <option value=null disabled selected>--Select--</option>
                                             <option  *ngFor=" let type of _States" [value]="type.typeId">{{type.typeName}}</option>
                                           </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <label [ngClass]="{'has-danger': propertyMarketValue.invalid && (propertyMarketValue.dirty || propertyMarketValue.touched),'has-success': propertyMarketValue.valid && (propertyMarketValue.dirty || propertyMarketValue.touched)}" for="inputPassword6">Property Market Value: <em>*</em></label>                                                <input formControlName="propertyMarketValue" class="form-control" placeholder="0.00" type="text">
                                            </div>
                                            <div class="col-lg-3 float-left">
                                                <label [ngClass]="{'has-danger': propertyValuationDate.invalid && (propertyValuationDate.dirty || propertyValuationDate.touched),'has-success': propertyValuationDate.valid && (propertyValuationDate.dirty || propertyValuationDate.touched)}" class="col-form-label" for="example-date-input"></label>Property Valuation Date <em>*</em> <input formControlName="propertyValuationDate"  class="form-control" id="example-date-input" type="date" >
                                            </div>
                                            <div class="col-lg-3">
                                                <label for="inputPassword6">Valuation Type:</label>
                                                <div class="dropdown">
                                                    <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="valuationTypeID">
                                             <option value=null disabled selected>--Select--</option>
                                             <option  *ngFor=" let type of _ValuationTypes" [value]="type.typeId">{{type.typeName}}</option>
                                           </select>
                                                </div>
                                            </div>
                                        </div>
                                        <section formGroupName="borrower" style="margin-top: 30px;">
                                            <div class="row">
                                                <div class="col-lg-12 bg-light">
                                                    <h4 class="infoclient">BORROWER INFORMATION</h4>
                                                </div><br><br>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6" [ngClass]="{'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),'has-success': firstName.valid && (firstName.dirty || firstName.touched)}">Primary Borrower First Name: <em>*</em></label>                                                        <input formControlName="firstName" class="form-control" placeholder="" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6" [ngClass]="{'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),'has-success': lastName.valid && (lastName.dirty || lastName.touched)}">Last Name: <em>*</em></label>                                                        <input formControlName="lastName" class="form-control" placeholder="" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6" [ngClass]="{'has-danger': maillingAddress.invalid && (maillingAddress.dirty || maillingAddress.touched),'has-success': maillingAddress.valid && (maillingAddress.dirty || maillingAddress.touched)}">Mailing Address: <em>*</em></label>                                                        <input formControlName="maillingAddress" class="form-control" placeholder="" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6" [ngClass]="{'has-danger': city.invalid && (city.dirty || city.touched),'has-success': city.valid && (city.dirty || city.touched)}">City: <em>*</em></label> <input formControlName="city"
                                                            class="form-control" placeholder="" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6">State:</label>
                                                        <div class="dropdown">
                                                            <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="stateID">
                                                                <option value=null disabled selected>--Select--</option>
                                                                <option  *ngFor=" let type of _States" [value]="type.typeId">{{type.typeName}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6">Home Ph:</label> <input formControlName="homePh" class="form-control" placeholder="" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6">Work Ph:</label> <input formControlName="workPh" class="form-control" placeholder="" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6">Mobile Phone:</label> <input formControlName="mobilePhone" class="form-control" placeholder="" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6" [ngClass]="{'has-danger': email.invalid && (email.dirty || email.touched),'has-success': email.valid && (email.dirty || email.touched)}">Email: <em>*</em></label>
                                                        <input formControlName="email" class="form-control" placeholder="" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6">Fax:</label> <input formControlName="email" class="form-control" placeholder="" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label for="inputPassword6">SS/Tax ID #:</label> <input formControlName="fssTaxID" class="form-control" placeholder="" type="text">
                                                    </div>
                                                    <div class="col-lg-3 text-center for-primary">
                                                        <p>for primary borrower.</p>
                                                    </div>
                                                </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="tabcontent" id="Tokyo">
                                <div class="row">
                                    <div class="col-lg-12 bg-light">
                                        <h4 class="infoclient">ASKING PRICE</h4>
                                    </div><br>
                                    <div class="col-lg-12">
                                        <section style="margin-top: 20px;">
                                            <div class="form-row">
                                                <div class="col-lg-6">
                                                    <label [ngClass]="{'has-danger': askingPrice.invalid && (askingPrice.dirty || askingPrice.touched),'has-success': askingPrice.valid && (askingPrice.dirty || askingPrice.touched)}" for="inputPassword6">ASKING PRICE: <em>*</em></label>                                                    <input formControlName="askingPrice" class="form-control" placeholder="0.00" type="text">
                                                </div>
                                                <div class="col-lg-6">
                                                    <label for="inputPassword6">Min ASKING PRICE:</label> <input formControlName="minAskingPrice" class="form-control" type="text">
                                                </div>
                                            </div>
                                            <section style="margin-top: 20px;">
                                                <div class="col-lg-12 bg-light">
                                                    <h4 class="infoclient">COMMENTS</h4>
                                                </div><br>
                                                <div class="form-row">
                                                    <div class="col-lg-12">
                                                        <p class="text-comments">Please place comments on all Important Information on the Note.</p>
                                                        <p class="text-comments-bleu">Helpful Hint: The more information the better. Any additional information on the Borrower, Property, or "Story of the Loan" can increase your likelihood of sale.</p>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <textarea formControlName="comments" class="form-control" id="comment" placeholder="Comment" rows="2"></textarea>
                                                    </div>
                                                </div>
                                                
                                            </section>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="tabcontent" id="Canada">
                                <div class="row">
                                  <div class="col-lg-12 bg-light">
                                    <h4 class="infoclient">DOCUMENTS NEEDED</h4>
                                  </div><br><br>
                                  <div class="col-lg-12 alert alert-warning" role="alert">
                                    This section only allows word, excel and pdf file formats, also images formats(png, jpg, jpeg, gif, tiff), otherwise documents won't be uploaded. 50 MB of documents is the maximum attachments allowed per note. All documents that are available will be forwarded to Buyer when an Indicative Offer is accepted
                                  </div><br>
                                  <section class="page-register" style="margin-top: 20px;">

                                        <div class="row">
                                                <div class="col-lg-8">
                                                  <p class="pull-left text-file" >Payment History <em>*</em></p>
                                                </div>
                                                <div class="col-lg-4 text-right">
                                                  <input accept=".pdf, .doc" (change)="fileChangeEvent($event,'PaymentHistory')" class="btn btn-outline-success btn-lg" type="file"> 
                                                  
                                                </div>
                                                 </div>

                                    <div class="row" id="row-append">
                                      <div class="col-lg-8">
                                        <p class="pull-left text-file">Other</p>
                                      </div>
                                      <div class="col-lg-4 text-right">
                                        <input multiple="multiple"  accept=".pdf, .doc" (change)="fileChangeEvent($event,'other')" class="btn btn-outline-success btn-lg" type="file"> 
                                      </div>
                                      <p class="pull-left note col-lg-6">Note: If the notes are in FCI loan servicing then the Payment History will automatically update. If notes are not serviced by FCI then monthly updates of Payment History need to be submitted.</p>
                                             
                                    </div>
        
                                    <br>
                                    <div class="row">
                                      <div class="col-lg-12 bg-light">
                                        <h4 class="infoclient">PHOTOS</h4>
                                      </div><br>
                                        <div class="col-lg-12">
                                          <p class="text-comments text-left">Please add photo to increase buyer interest</p>
                                        </div>
                                        <div class="col-lg-8">
                                          <p class="pull-left text-file">Primary Photo</p>
                                        </div>
                                        <div class="col-lg-4 text-right">
                                          <input accept=".jpg , .png" multiple="true" (change)="fileChangeEvent($event,'photo')" class="btn btn-outline-success btn-lg" type="file"> 
                                        
                                        </div>
                                        <div class="col-lg-12 text-right">
                                          <a href="" id="btn3"><small class="text-right" style="margin-left: 60px;">Add Other Document</small></a>
                                        </div>
                                        <button class="btn btn-success" type="submit">Save</button>
                                    </div>
                                  </section>
                                </div>
                              </div>
                            <!-- <pre>{{ sellNoteForm.value | json}} </pre> -->
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<br><br>