﻿@model IEnumerable<LocalAccountsApp.Models.loanNote>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prePayPenalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registerswMers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ballonPayement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.onForbearancePlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loanTermsModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.originationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paidToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nextPayementDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payersLastPayementMadeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.originalLoanAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unPaidPrincipalBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noteMaturityDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accruedLateCharges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loanCharges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ofPayementsLast12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstPayementDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noteInterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soldInterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lateCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.afterDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnpaidInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.propertyTaxesDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payementTrust)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMonthlyLoanPayement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.askingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.percentagePrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prePayPenalty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registerswMers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ballonPayement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.onForbearancePlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loanTermsModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.originationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paidToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nextPayementDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payersLastPayementMadeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.originalLoanAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unPaidPrincipalBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noteMaturityDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accruedLateCharges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loanCharges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ofPayementsLast12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstPayementDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noteInterestRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soldInterestRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lateCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.afterDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnpaidInterest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.propertyTaxesDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payementTrust)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMonthlyLoanPayement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.askingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.percentagePrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
