<div class="container-fluid">
	<div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable text-center allAlerts">
	    <strong><i class="fa {{ fontClass(alert)}}" aria-hidden="true"></i></strong>&nbsp; {{alert.message}}
	     <a class="close" (click)="removeAlert(alert)">&times;</a>
	</div>
</div>