﻿<section style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3 float-left">
                    <p class="text-center page-detail">{{loanNote?.property?.address}},{{loanNote?.property?.city}}, {{loanNote?.property?.zip}}</p>
                </div>
                <div class="col-sm-1 float-left text-center"><img src="assets/img/border.png"></div>
                <div class="col-sm-4 float-left">
                    <p class="text-center page-detail-espace-tow">
                        Seller asking: <span>${{loanNote?.askingPrice}} ({{loanNote?.askingPrice / loanNote?.principaleBalance | number : '1.2-2'}}% UPB)</span><br>
                        <small class="small-text">Pricing may vary over time and is subject to Seller Approval</small>
                    </p>
                </div>
                <div class="col-sm-1 float-left text-center"><img src="assets/img/border.png"></div>

            </div>
        </div>
        <hr class="sort-by">
    </div>
</section><br>
<section>
    <div class="container">
        <form class="formulaire">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Offer Amount :</label>
                <div class="col-sm-10">
                    <input name="OfferAmount" type="number" class="form-control" id="offerAmount" placeholder="Offer Amount" [(ngModel)]="_viewModel.OfferAmount">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Comment :</label>
                <div class="col-sm-10">
                    <textarea name="Comment" class="form-control" rows="2" id="comment" placeholder="Comment" [(ngModel)]="_viewModel.Comment"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-12 col-form-label"><h5>Closing Service :</h5></label>
                <div class="col-sm-10 offset-sm-2">
                    <div class="col-sm-4 checkbox float-left" *ngFor="let closingType of _closingTypes">
                        <label><input name="ClosingTypes-{{closingType.ClosingTypeId}}" type="radio" [checked]="closingType.ClosingTypeId == _selectedClosingType" (change)="ClosingTypeChanged(closingType.ClosingTypeId)">{{closingType.Name}}</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-12 col-form-label"><h5>Due Diligence Options :</h5></label>
                <div class="col-sm-10 offset-sm-2">
                    <div class="col-sm-4 checkbox float-left" *ngFor="let dueDiligenceOption of _dueDiligenceOptions">
                        <label><input name="DueDiligenceOptions" type="radio" [checked]="dueDiligenceOption.DueDiligenceOptionsId == _selectedDueDiligenceOption" (change)="DueDilugenceOptionChanged(dueDiligenceOption.DueDiligenceOptionsId)">{{dueDiligenceOption.TypeDueDiligence}}</label>
                    </div>
                    <div class="col-lg-2 float-left">
                        <label>Days :</label>
                    </div>
                    <div class="col-lg-2 float-left days-submit">
                        <input type="number" name="DaysCount" class="form-control" id="inputEmail3" placeholder="3" [(ngModel)]="_viewModel.DaysCount" [disabled]="_viewModel.DueDiligenceOption != 2" />
                    </div>
                </div>
            </div><br><br>
            <div class="col-sm-4 offset-sm-4">
                <button type="submit" (click)="submit()" class="btn btn-success btn-lg">Submit</button>
            </div>
        </form>
    </div>
</section>