
<section style="margin-top: 20px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 nav-pill-footer page-myexchange border">
                <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="pills-home" aria-selected="true" class="nav-link active" data-toggle="pill" href="#pills-home" id="pills-home-tab" role="tab">My Loans </a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="pills-profile" aria-selected="false" class="nav-link" data-toggle="pill" href="#pills-profile" id="pills-profile-tab" role="tab">My Offers</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="pills-contact" aria-selected="false" class="nav-link" data-toggle="pill" href="#pills-contact" id="pills-contact-tab" role="tab">Profile</a>
                    </li>
                </ul>
                <hr>
                <div class="tab-content" id="pills-tabContent">
                    <div aria-labelledby="pills-home-tab" class="tab-pane fade show active" id="pills-home" role="tabpanel">
                        <div class="container-fluid">
                            <br>
                            <div class="row">
                                <div class="col-lg-12 text-right">

                                    <button id="b" (click)="exportToExcel()" class="btn btn-primary">Export Template</button>
                                    <input type="file" (change)="onFileChange($event)" name="file" id="file" class="input-file">

                                    <label for="file" class="btn btn-tertiary js-labelFile">
                                                    <i class="icon fa fa-check"></i>
                                                    <span class="js-fileName">Choose a Template</span>
                                    </label>
                                    <button id="b" class="btn btn-primary" [hidden]="!isExistTemplate" (click)="SaveJsonAsResultLoans()">Save</button>

                                </div>
                            </div>
                            <div class="col-lg-12 bordern">
                                <br>

                                <h3 class="text-img-page-detail title">My Loans:</h3><br>
                                <div class="table-responsive">
                                    <table class="table page-myexchange">
                                        <thead class="custom">
                                            <tr>
                                                <th scope="col">Loan ID</th>
                                                <th scope="col">UPB</th>
                                                <th scope="col">Asking Price</th>
                                                <th scope="col">Note Rate</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Last Modified</th>
                                                <th scope="col">Update</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="pagedItemsLoans?.length  == 0">
                                                <td colspan="7">
                                                    <h5 class="text-center text-info">No Loans Currently !</h5>
                                                </td>
                                            </tr>
                                            <tr *ngFor="let item of pagedItemsLoans" (click)="onViewOffersLoan(item.loanNoteID)">
                                                <td>{{item.loanNoteID}}</td>
                                                <td>{{item.unPaidPrincipalBalance}}</td>
                                                <td>{{item.askingPrice}}</td>
                                                <td>{{item.noteInterestRate}}</td>
                                                <td>----</td>
                                                <td>----</td>
                                                <td><button class="btn btn-primary" type="button">Update</button></td>
                                            </tr>

                                        </tbody>
                                    </table>

                                    <div class="col-sm-12 pagination-padding">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-end float-right">
                                                <li class="page-item" [ngClass]="{disabled:pagerLoans.currentPage === 1}">
                                                    <a class="page-link" (click)="setPageLoans(1)">First</a>
                                                </li>

                                                <li class="page-item" [ngClass]="{disabled:pagerLoans.currentPage === 1}">
                                                    <a class="page-link" (click)="setPageLoans(pagerLoans.currentPage - 1)">Previous</a>
                                                </li>
                                                <li class="page-item" *ngFor="let page of pagerLoans.pages" [ngClass]="{active:pagerLoans.currentPage === page}">
                                                    <a class="page-link" (click)="setPageLoans(page)">{{page}}</a>
                                                </li>
                                                <li class="page-item" [ngClass]="{disabled:pagerLoans.currentPage === pagerLoans.totalPages}">
                                                    <a class="page-link" (click)="setPageLoans(pagerLoans.currentPage + 1)">Next</a>
                                                </li>
                                                <li class="page-item" [ngClass]="{disabled:pagerLoans.currentPage === pagerLoans.totalPages}">
                                                    <a class="page-link" (click)="setPageLoans(pagerLoans.totalPages)">Last</a>
                                                </li>
                                            </ul>
                                            <p class="text-pagination float-left">Results - <span>Viewing ltems    {{pagerLoans.startIndex }}-{{pagerLoans.endIndex +1}} of {{pagerLoans.totalItems}}</span></p>
                                        </nav>
                                    </div>
                                </div>
                                <div class="table-responsive" *ngIf="isActivtedLoanOffers">
                                    <h3 class="text-img-page-detail text-info title">Offers Détail:</h3><br>
                                    <table class="table table-mycolor table-hover">
                                        <thead class="thead-Exchange">
                                            <tr>
                                                <th scope="col">Offer Id</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Comment</th>
                                                <th scope="col">Statut</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="listOfOffersLoan?.length  == 0">
                                                <td colspan="4">
                                                    <h5 class="text-center text-info">No Offers Currently !</h5>
                                                </td>
                                            </tr>
                                            <tr *ngFor="let item of listOfOffersLoan" (click)="navigateToTransactionSeller(item.offer.offerID)">
                                                <td>{{item.offer.offerID}}</td>
                                                <td>{{item.offer.OfferAmount}}</td>
                                                <td>{{item.offer.Comment}}</td>
                                                <td>-----------</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <!-- <hr class="sort-by"> -->
                        </div>
                    </div>
                    <div aria-labelledby="pills-profile-tab" class="tab-pane fade" id="pills-profile" role="tabpanel">
                        <div class="container-fluid">
                            <div class="col-lg-12 border">
                                <br>
                                <h3 class="text-img-page-detail title">My Offers:</h3><br>
                                <div class="table-responsive">
                                    <table class="table table-hover page-myexchange myoffers">
                                        <thead class="custom">
                                            <tr>
                                                <th scope="col">Offres Id</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Last Update</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="pagedItemsOffers?.length  == 0">
                                                <td colspan="6">
                                                    <h5 class="text-center text-info">No Offers Currently !</h5>
                                                </td>
                                            </tr>
                                            <tr *ngFor="let item of pagedItemsOffers" (click)="navigateToTransaction(item.Offer.offerID)">
                                                <td>{{item.Offer.offerID}}</td>
                                                <td>{{item.Offer.OfferAmount}}</td>
                                                <td>{{item.OfferStatus?.OfferStatusName}}</td>
                                                <td>{{item.OfferStatus?.OfferStatusByDate}}</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-sm-12 pagination-padding">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-end float-right">
                                                <li class="page-item" [ngClass]="{disabled:pagerOffers.currentPage === 1}">
                                                    <a class="page-link" (click)="setPageOffers(1)">First</a>
                                                </li>

                                                <li class="page-item" [ngClass]="{disabled:pagerOffers.currentPage === 1}">
                                                    <a class="page-link" (click)="setPageOffers(pagerOffers.currentPage - 1)">Previous</a>
                                                </li>
                                                <li class="page-item" *ngFor="let page of pagerOffers.pages" [ngClass]="{active:pagerOffers.currentPage === page}">
                                                    <a class="page-link" (click)="setPageOffers(page)">{{page}}</a>
                                                </li>
                                                <li class="page-item" [ngClass]="{disabled:pagerOffers.currentPage === pagerOffers.totalPages}">
                                                    <a class="page-link" (click)="setPageOffers(pagerOffers.currentPage + 1)">Next</a>
                                                </li>
                                                <li class="page-item" [ngClass]="{disabled:pagerOffers.currentPage === pagerOffers.totalPages}">
                                                    <a class="page-link" (click)="setPageOffers(pagerOffers.totalPages)">Last</a>
                                                </li>
                                            </ul>
                                            <p class="text-pagination float-left">Results - <span>Viewing ltems    {{pagerOffers.startIndex }}-{{pagerOffers.endIndex +1}} of {{pagerOffers.totalItems}}</span></p>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr class="sort-by"> -->
                        </div>
                    </div>
                   <div aria-labelledby="pills-contact-tab" class="tab-pane fade" id="pills-contact" role="tabpanel">
                        <div class="container-fluid">
                            <div class="col-lg-12"><h3 class="text-img-page-detail title">My Profile</h3></div>
                                <div class="col-sm-12">

                                    <form (ngSubmit)="ChangePassword()" name="form" #f="ngForm"  novalidate>
                                        <div class="container-fluid">
                                            <div class="row">
                                       
                                        <div class="col-lg-12">
                                            <label><b>Username</b></label>
                                            <input name="uname" placeholder="{{cuser}}" required="" disabled="" type="text">
                                        </div>
                                        <div class="col-lg-4"> 
                                            <label><b>Old Password</b></label>
                                            <input name="oldpassword" placeholder="Enter Password" required="" type="password" name="oldpassword" [(ngModel)]="user.oldpassword" #oldpassword="ngModel">
                                        </div>
                                        <div class="col-lg-4"> 
                                            <label><b>New Password</b></label>
                                            <input name="newpassword" placeholder="Confirmer Password" required="" type="password" name="newpassword" [(ngModel)]="user.newpassword" #newpassword="ngModel">
                                        </div>
                                        <div class="col-lg-4"> 
                                            <label><b>Confirmer Password</b></label>
                                            <input name="confirmpassword" placeholder="Confirmer Password" required="" type="password" name="confirmpassword" [(ngModel)]="user.confirmpassword" #confirmpassword="ngModel">
                                        </div>
                                        </div>
                                    </div>
                                         <div class="container-fluid"> 
                                            <button class="btn-success pull-right">Update</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>