<section style="margin-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-light">
        <h4 class="infoclient">How To Buy Notes</h4>
      </div>
    </div>
        <div class="col-sm-12 Page-buy-Notes">
          <div class="row ">

            <div class="col-lg">
              <div class="card text-center icone-top border rounded">
                <div class="card-block">
                  <p class="card-text text-center"><img class="img-responsive" src="assets/img/Indicative-Offer.svg" width="56px"></p>
                </div>
                <div class="card-footer text-muted">
                  <p>Search For Notes</p>
                </div>
              </div>
            </div>

            <div class="col-lg-1 icone-next text-center img-next"><img class="img-responsive" src="assets/img/icone/Next.svg"></div>

            <div class="col-lg">	
              <div class="card text-center icone-top border rounded">
                <div class="card-block">
                  <p class="card-text text-center"><img class="img-responsive" src="assets/img/Due-Diligence-Period.svg" width="56px"></p>
                </div>
                <div class="card-footer text-muted">
                  <p>Search For Notes</p>
                </div>
              </div>
            </div>

            <div class="col-lg-1 icone-next text-center img-next"><img class="img-responsive" src="assets/img/icone/Next.svg"></div>

            <div class="col-lg">	
              <div class="card text-center icone-top border rounded">
                <div class="card-block">
                  <p class="card-text text-center"><img class="img-responsive" src="assets/img/Final-Offer.svg" width="56px"></p>
                </div>
                <div class="card-footer text-muted">
                  <p>Search For Notes</p>
                </div>
              </div>
            </div>
              
            <div class="col-lg-1 icone-next text-center img-next"><img class="img-responsive" src="assets/img/icone/Next.svg"></div>

            <div class="col-lg">	
              <div class="card text-center icone-top border rounded">
                <div class="card-block">
                  <p class="card-text text-center"><img class="img-responsive" src="assets/img/PSA.svg" width="70px"></p>
                </div>
                <div class="card-footer text-muted">
                  <p>Search For Notes</p>
                </div>
              </div>
            </div>
              
            <div class="col-lg-1 icone-next text-center img-next"><img class="img-responsive" src="assets/img/icone/Next.svg"></div>

            <div class="col-lg">	
              <div class="card text-center icone-top border rounded">
                <div class="card-block">
                  <p class="card-text text-center"><img class="img-responsive" src="assets/img/Wrap-Up.svg" width="80px"></p>
                </div>
                <div class="card-footer text-muted">
                    <p>Search For Notes</p>
                </div>
              </div>
            </div>
          </div>

        </div><br><br>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-all-items how-page">
        <p class="text-one">Buying a Loan at <a href="www.ExchangeLoans.com">www.ExchangeLoans.com</a> is a simple 5 step process. Once you have located a Loan that fits your personal investment criteria, click “Submit an Indicative Offer” which begins the non-binding transaction process. Once the offer is sent you can begin discussions directly with the Seller of the Note through Exchange Loan’s chat system inside the transaction.</p><br>
        <small class="text-one-small">Exchange Loans does not own any of the notes on the platform.</small><br><br>


        <h4>Step 1: INDICATIVE OFFER</h4>
        <p class="text-one">Submit your non-binding Indicative Offer to the Seller. The Seller may, have a minimum offer threshold that will auto reject your offer if it is too low. The Seller will set what type of closing they will allow on the transaction. The Seller may accept, reject or counter your offer then the Buyer can then accept, reject or counter the Seller’s counter offer. Once both parties have agreed on an indicative offer price, the type of closing, and who pays which fees, the transaction moves to Step 2.</p><br>

        <p class="text-one">Selecting the Closing Service through Exchange Loans is the preferred closing method as the transaction will go through a licensed escrow closing agent. You have the option to do a direct closing with the Seller, but closing arrangements and money will need to be transferred between the parties at Buyer and Seller’s own risk.</p><br>



        <h4>Step 2: DUE DILIGENCE PERIOD</h4>
        <p class="text-one">You will have a minimum of 3 business days to complete Due Diligence. However, you can extend your Due Diligence Period, as long as the Seller approves the extention. Once the transaction enters Step 2 the Due Diligence Documents uploaded by the Seller will be available for your review. You will also be able to order a 3rd Party BPO and O&E Report through ExchangeLoans.com during this time.</p><br>

        <p class="text-one">Buyers are also able to sign up for the “Star Buyer” Program. For $50 a month the Star Buyer program lets you receive a 3rd Party BPO and a O&E Report on every Star Loan that is currently uploaded to Exchange Loans. Also “Star Buyers” can set unlimited Loan Alerts, that notify you when a loan that matches your criteria has been uploaded or updated, thus giving you an advantage to find the deal first.</p><br>
        

        <h4>Step 3: FINAL OFFER</h4>
        <p class="text-one">This is where you can resubmit your offer from Step 1 or lower your offer based on what was found in Due Diligence. Once you and the Seller agree to a Final Offer the transaction will move to Step 4.</p><br>


        <h4>Step 4: PURCHASE AND SALE AGREEMENT</h4>
        <p class="text-one">A Purchase and Sale agreement (PSA) will be generated and will need to be signed electronically by Buyer and Seller. Once the Purchase and Sale agreement is signed the transaction becomes Binding.</p><br>
        

        <h4>Step 5: WRAP UP</h4>
        <p class="text-one">Based on the type of closing selected in Step 3, fees will be paid and the transfer email will be sent out. Once this step is completed the transaction is completed on <a href="">ExchangeLoans.com</a>.</p><br>

        
        <p class="text-one">Additional Information on Offers:</p>
          <p class="text-one before-text">Offer amounts, even at the Full Asking Price, are nonbinding until a Purchase and Sale Agreement has been signed.</p>
          <p class="text-one before-text">Following acceptance of an Indicative Offer, Buyer is given a Due Diligence Period, but Seller still has the right to respond to any other Offer.</p>
          <p class="text-one before-text">Following the Due Diligence Period and the Final Offer acceptance, the transaction is a binding obligation when the Purchase and Sale Agreement has been executed by both parties.</p>
          <p class="text-one before-text">Buyer and Seller have the right to cancel the transaction at any time prior to the execution of the Purchase and Sale Agreement by both parties.</p>
          <p class="text-one before-text">FCI Exchange is not an agent, fiduciary, broker or representative for either party in connection with any transaction on this site and cannot enforce any obligations the parties they may have in performing, cooperating, or otherwise with the other party in the transactions contemplated on this site.</p>
          <p class="text-one before-text">Please note that Exchange Loans has no involvement in, or control over, a Seller's asking price or a Buyer's offering price. To assist in fair disclosure, Sellers are required to put down an asking price, and if a Seller counters a Buyer offer differently, the asking price will be adjusted accordingly.</p>
          <p class="text-one before-text">No fees shall be assessed unless outlined in the <a href=""> Terms of Use for Trading on This Site</a>. Exchange Loans uses this performance based fee structure to ensure all Parties that FCI Exchange’s income is in completed transactions and not simply Listing Loans.</p>

      </div>
      <div class="col-lg-4 col-filter info">
        <div class="col-lg-2 float-left text-center icone-zone">
          <i aria-hidden="true" class="fa fa-info-circle"></i>
        </div>
        <div class="col-lg-10 float-left">
          <p class="text-description-of-exchange">ExchangeLoans is not an agent or representative for either party in connection with any transaction on this site and cannot enforce any obligations the parties they may have in performing, cooperating, or otherwise with the other party in the transactions contemplated on this site</p>
        </div>
      </div>
    </div>
  </div>
</section><br>
<br>