<section style="margin-top: 20px;">
    <div class="container-fluid FAQ-page">
        <div class="row">
            <div class="col-lg-2">
                <div class="col-lg-12 bg-light">
                    <h4 class="infoclient">Pub</h4>
                </div>
                <section style="margin-top: 20px;">
                    <div class="col-lg-12 doc-space"></div>
                </section>
            </div>
            <div class="col-lg-10">
                <div class="col-lg-12 bg-light">
                    <h5 class="infoclient">General Questions</h5>
                </div><br>
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title"><a data-toggle="collapse" href="#collapse1">1. What is FCI EXCHANGE?</a></h6>
                            </div><br>
                            <div class="panel-collapse collapse" id="collapse1">
                                <div class="panel-body">
                                    <p>FCI EXCHANGE is a trading platform where Buyers and Sellers of mortgage Notes can get together and have the entire Buy/Sell and Closing process supervised by a major servicer who understands compliant trades.</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title"><a data-toggle="collapse" href="#collapse2">2. Who can use FCI EXCHANGE?</a></h6>
                            </div><br>
                            <div class="panel-collapse collapse" id="collapse2">
                                <div class="panel-body">
                                    <p>Anybody is welcome to use FCI EXCHANGE; it’s a very user friendly website with easy to follow detailed instructions.  FCI EXCHANGE is here to help anyone from a novice to an expert Buy<br> and Sell Notes  with confidence, quickly and compliantly.</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title"><a data-toggle="collapse" href="#collapse3">3. What types of Notes are listed?</a></h6>
                            </div><br>
                            <div class="panel-collapse collapse" id="collapse3">
                                <div class="panel-body">
                                    <p>FCI EXCHANGE is a trading platform where Buyers and Sellers of mortgage Notes can get together and have the entire Buy/Sell and Closing process supervised by a major servicer who understands compliant trades.</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 bg-light">
                    <h5 class="infoclient">Buyer Questions</h5>
                </div><br>
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title"><a [routerLink]="['how-to-sell-notes']">1. How do I buy Notes in ExchangeLoans?</a></h6>
                            </div><br>
                            <div class="panel-collapse collapse" id="collapse4">
                                <div class="panel-body">
                                    <p>The only way to contact the seller is through the website; dialogue is opened when you place an offer.  There is a comment box on the Place an Offer page <br>where you may leave comments and questions which are sent to the seller upon approval of your proof of funds.</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title"><a data-toggle="collapse" href="#collapse4">2. Can I contact the seller to get more information?</a></h6>
                            </div><br>
                            <div class="panel-collapse collapse" id="collapse4">
                                <div class="panel-body">
                                    <p>The only way to contact the seller is through the website; dialogue is opened when you place an offer.  There is a comment box on the Place an Offer page <br>where you may leave comments and questions which are sent to the seller upon approval of your proof of funds.</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title"><a data-toggle="collapse" href="#collapse5">3. How do I know if the seller is serious and legitimate?</a></h6>
                            </div><br>
                            <div class="panel-collapse collapse" id="collapse5">
                                <div class="panel-body">
                                    <p>FCI EXCHANGE has a detailed Note listing and Quality Control process in place where each loan listed must give relevant information and attached copies of relevant documents including Notes, Deeds or Mortgages, and Assignments.  Each listing is reviewed for accurate information and documentation.</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title"><a data-toggle="collapse" href="#collapse6">4. How can I verify that a property actually exists?</a></h6>
                            </div><br>
                            <div class="panel-collapse collapse" id="collapse6">
                                <div class="panel-body">
                                    <p>It is recommended that a buyer perform their own due diligence on the property before placing an offer on the Note; also attachments of a copy of the Note and Deed are standard on most loans.</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 bg-light">
                    <h5 class="infoclient">Seller Questions</h5>
                </div><br>
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title"><a [routerLink]="['how-to-sell-notes']" >1. How do I Sell Notes in ExchangeLoans?</a></h6>
                            </div><br>
                            <div class="panel-collapse collapse" id="collapse7">
                                <div class="panel-body">
                                    <p>FCI EXCHANGE requires that buyer’s first register, then submit Proof of Funds in the form of a bank statement,<br> current financial institution statement, or a Letter of Credit from a financial institution showing funds available that cover the amount they are offering on the Note.</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title"><a data-toggle="collapse" href="#collapse7">2. How do I know if a buyer is serious and legitimate?</a></h6>
                            </div><br>
                            <div class="panel-collapse collapse" id="collapse7">
                                <div class="panel-body">
                                    <p>FCI EXCHANGE requires that buyer’s first register, then submit Proof of Funds in the form of a bank statement,<br> current financial institution statement, or a Letter of Credit from a financial institution showing funds available that cover the amount they are offering on the Note.</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title"><a data-toggle="collapse" href="#collapse8">3. Do you list REO’s?</a></h6>
                            </div><br>
                            <div class="panel-collapse collapse" id="collapse8">
                                <div class="panel-body">
                                    <p>No, FCI EXCHANGE does not list REO’s; the site is strictly for trading Notes. In the event a Note listed individually or in a Loan Pool becomes an REO before a trade is completed, the Note must be removed from the website. FCI EXCHANGE is a Note trading platform only. As an additional service, we offer REO Management and Sales with FCI Lenders Services at www.trustfci.com or call 714-282-2424, ext 226 for more information.</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title"><a data-toggle="collapse" href="#collapse9">4. Do you have investors who are interested in Notes in my particular region? </a></h6>
                            </div><br>
                            <div class="panel-collapse collapse" id="collapse9">
                                <div class="panel-body">
                                    <p>We serve as a platform that brings buyers and sellers together from anywhere in the country.  We have visitors and registered users from all over the United States, and Notes listed in almost every stat</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br>
<br>