<section style="margin-top: 20px;">
  <form novalidate [formGroup]="formcontactus" (ngSubmit)="onSubmitContactus()" (ngReset)="onresetcontactus()" class="page-register">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-2">
                  <section>
                      <div class="col-lg-12 bg-light">
                          <h4 class="infoclient">Pub</h4>
                      </div>
                  </section>
                  <section style="margin-top: 20px;">
                      <div class="col-lg-12 doc-space"></div>
                  </section>
              </div>
              <div class="col-lg-10">
                  <div class="row">
                      <div class="col-md-9 offset-md-1 alert alert-warning" role="alert">
                          <div class="col-lg-1 float-left icone-contact-page">
                              <i aria-hidden="true" class="fa fa-info-circle text-center"></i>
                          </div>
                          <div class="col-lg-11 float-left text-alert-contact-page">
                              <p>Use this form to request more information about FCI EXCHANGE and the services we provide.</p>
                              <p><span>Potential Clients:</span> please fill in the required fields, add your request, and click "submit". Feel free to call us at (800) 931-2424 x750.</p>
                              <p><span>Registered Clients:</span> if you used the login to enter the site, your information is auto filled; simply type in your request.</p>
                          </div>
                      </div>
                  </div><br>
                  <div class="row" data-select2-id="4">
                      <div class="col-lg-4 float-left">
                          <label for="inputPassword6" [ngClass]="{'has-danger': name.invalid && (name.dirty || name.touched),'has-success': name.valid && (name.dirty || name.touched)}">Name(First,Last) : <em>*</em></label> 
                          <input class="form-control" placeholder="" type="text" formControlName="name">
                          <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                              <p class="text-danger" *ngIf="name.errors.required">name is required</p>
                          </div>
                      </div>
                      <div class="col-lg-4 float-left">
                          <label for="inputPassword6">Company :</label> 
                          <input class="form-control" placeholder="" type="text" formControlName="company">
                      </div>
                      <div class="col-lg-4 float-left">
                          <label for="inputPassword6">Address :</label> 
                          <input class="form-control" placeholder="" type="text" formControlName="address">
                      </div>
                      <div class="col-lg-4 float-left">
                          <label for="inputPassword6">City :</label> 
                          <input class="form-control" placeholder="" type="text" formControlName="city">
                      </div>
                      <!-- <div class="col-lg-3">
                        <label for="inputPassword6">State:</label>
                        <div class="dropdown">
                            <select class="form-control c-select mb-2 mr-sm-2 mb-sm-0" formControlName="state">
                                <option value=null disabled selected>--Select--</option>
                                <option  *ngFor=" let type of _States" [value]="type.typeName">{{type.typeName}}</option>
                              </select>
                        </div>
                      </div> -->
                      <div class="col-lg-4 float-left">
                        <label for="inputPassword6" [ngClass]="{'has-danger': state.invalid && (state.dirty || state.touched),'has-success': state.valid && (state.dirty || state.touched)}">State : <em>*</em></label> 
                        <select class="form-control" style="width: 100%" formControlName="state">
                          <option value="ALABAMA">
                            ALABAMA
                          </option>
                          <option value="ALASKA">
                            ALASKA
                          </option>
                          <option value="CALIFORNIA">
                            CALIFORNIA
                          </option>
                          <option value="ARIZONA">
                            ARIZONA
                          </option>
                          <option value="COLORADO">
                            COLORADO
                          </option>
                          <option value="FLORIDA">
                            FLORIDA
                          </option>
                          <option value="NewYork">
                            NEW YORK
                          </option>
                         
                        </select>
                        <div class="form-control-feedback" *ngIf="state.errors && (state.dirty || state.touched)">
                          <p class="text-danger" *ngIf="state.errors.required">state is required </p>
                          <p class="text-danger" *ngIf="state.errors.pattern">state is not valid ,exp <i>181 384 120 66</i> </p>
                      </div>
                      </div>
          
                      <div class="col-lg-4">
                          <label for="inputPassword6">Zip :</label> 
                          <input class="form-control" placeholder="" type="text"formControlName="zip">
                      </div>
                      <div class="col-lg-3">
                          <label for="inputPassword6" [ngClass]="{'has-danger':telephone.invalid && (telephone.dirty || telephone.touched),'has-success': telephone.valid && (telephone.dirty || telephone.touched)}">Telephone : <em>*</em></label> 
                          <input class="form-control" placeholder="" type="text" formControlName="telephone">
                          <div class="form-control-feedback" *ngIf="telephone.errors && (telephone.dirty || telephone.touched)">
                              <p class="text-danger" *ngIf="telephone.errors.required">telephone is required </p>
                              <p class="text-danger" *ngIf="telephone.errors.pattern">telephone is not valid ,exp <i>181 384 120 66</i> </p>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <label for="inputPassword6">Extension :</label>
                           <input class="form-control" placeholder="" type="text" formControlName="extension">
                      </div>
                      <div class="col-lg-3">
                          <label for="inputPassword6">Fax :</label> 
                          <input class="form-control" placeholder="" type="text" formControlName="fax">
                      </div>
                      <div class="col-lg-3">
                          <label for="inputPassword6" [ngClass]="{'has-danger':email.invalid && (email.dirty || email.touched),'has-success': email.valid && (email.dirty || email.touched)}">Email : <em>*</em></label>
                           <input class="form-control" placeholder="" type="text" formControlName="email">
                           <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                              <p class="text-danger" *ngIf="email.errors.required">Email is required </p>
                              <p class="text-danger" *ngIf="email.errors.pattern">Email is not valid ,exp <i>contact@adelphatech.com</i> </p>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <label for="inputPassword6">Remember to enter your request here : </label> <textarea class="form-control" formControlName="message" id="comment" placeholder="" rows="3"></textarea><br>
                      </div>
                      <div class="col-md-6 offset-md-3 text-center">
                        <button type="submit" class="btn btn-success btn-lg btn-block"  class="btn btn-success float-left" style="width: 45% ;margin: 10px;">Submit</button>
                        <button type="Reset" class="btn btn-success btn-lg btn-block"  class="btn btn-outline-success float-left" style="width: 45% ;margin: 10px;">Clear</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- <pre>{{formcontactus.value | json}}</pre> -->
  </form>
</section>


    
