<section style="margin-top: 20px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <section>
          <div class="col-lg-12 bg-light">
            <h4 class="infoclient">Pub</h4>
          </div>
        </section>
        <section style="margin-top: 20px;">
          <div class="col-lg-12 doc-space"></div>
        </section>
      </div>
      <div class="col-lg-10 bg-light">
        <h3 class="text-center title-condition-page">Terms of Use for Trading on this Site</h3>
        <p class="su title-condition">ANY MISUSE OF THE INFORMATION CONTAINED HEREIN, INCLUDING UNAUTHORIZED CONTACT OR HARASSING THE UNDERLYING BORROWER OR SELLER OF THE NOTE OR OTHERWISE MAY SUBJECT YOU TO PERSONAL LIABILITY BY THE UNDERLYING BORROWER, THE SELLER OF THE NOTE, AND FCI. DATA IS BEING MONITORED AND WILL BE PROVIDED TO LAW ENFORCEMENT UPON ANY INDICATION OF MISUSE.</p><br>
        <p class="title-condition">The following terms constitute a binding agreement ("Agreement") between you and FCI Exchange, Inc., ("FCI Exchange", "FCI Note Exchange", "we", or "us"). This Agreement will govern all purchases of notes or properties (each and collectively, "Note(s)" or "Loan(s)") or Pools ("Pool or "Pools") that include notes or properties, that You may, from time to time, purchase from sellers ("Sellers") that utilize FCI Exchange and/or You were introduced to by FCI Exchange. Please read this Agreement, the terms of use ("Terms of Use") on FCI Exchange’s web site at www.fciexchange.com and any subdomain thereof (the "Site") carefully and print and retain a copy of these documents for your records. By registering electronically and Logging into The Site, you agree to the following terms together with the Terms of Use, consent to our privacy policy, agree to transact business with us and receive communications relating to the Notes electronically, and agree to have any dispute with us resolved by binding arbitration.</p><br>

        <p class="title-condition">This Agreement is effective on September 13, 2010, for current users, and upon acceptance for new users.</p><br>


        <p class="text-one before-text">By using FCI Exchange, you are agreeing that you are a prospective Note purchaser or seller or are an agent for either a purchaser or seller who wishes to enter into secondary market transactions through the purchase or sale of Notes.</p><br>

        <p class="text-one before-text">
          <span class="text-bold">1. Purpose and Confidentiality.</span>Offer amounts, even at the Full Asking Price, are nonbinding until a Purchase and Sale Agreement has been signed.
        </p><br>

        <p class="text-one before-text">
          <span class="text-bold">2. Confidentiality.</span>You agree that any information provided by FCI Exchange, through fciexchange.com, its officers, employees, affiliates, agents or other representatives of the Notes and all information and documentation in connection with the Notes, including personal information and the Note itself ("Non-Public Information") is for Your confidential, personal use to evaluate the Notes. At no time may the Non-Public Information be disclosed, used, or otherwise except for the purpose of evaluating any potential Offer or Active Transaction and Non-Public Information can only be disclosed for the sole purpose of evaluating Notes for potential Offers or Active Transactions to those who have knowledge of this Agreement and are strictly limited to Your officers, agents, employees, or representatives including attorney, accountant, and investment advisor ("Approved Associates"), or otherwise required by law. You shall not, and shall also direct all Approved Associates who may be shown Non-Public Information not to disclose that information to anyone. You agree that you will not contact borrowers, property owners, or tenants/residents of the Notes listed on the Site directly, or indirectly, by yourself or through an affiliate or agent of yours. You agree that all contact will be facilitated through FCI Exchange's website or directly with the Seller and/or Buyer as permitted and directed by FCI Exchange.
        </p><br>

        <p class="text-one before-text">
          Not Withstanding the above paragraph or any other part to this Agreement You shall (a) comply with all federal and state laws and regulations governing or relating to privacy rights in relation to such information, including the Gramm-Leach-Bliley Act, (b) not disclose any of such information to any person other than those of its personnel, agents, or to meet regulatory requirements, who need to know the information for the sole purpose of evaluating the potential purchase of the Note and (c) implement and observe procedures and measures as necessary to ensure the security and confidentiality of such information.
        </p><br>

        <p class="text-one before-text">
          You shall indemnify, defend and hold harmless FCI Exchange and officers, agents, employees, or representatives including attorney, accountant, and investment advisor ("Indemnified Associates") from and against all suits, liabilities, losses, damages or expenses of any kind (including attorney's fees and expenses) incurred or suffered by any Indemnified Associate arising out of or in connection with this Agreement, including without limitation the unauthorized use or disclosure of the Non-Public Information in violation of this Agreement, and any negligent or intentional acts or omissions in relation to this Agreement by You or Approved Associate. Your obligations shall survive the expiration or termination of this Agreement.
        </p><br>

        <p class="text-one before-text">
          <span class="text-bold">3. Purchase and Sale of Notes.</span>Subject to the terms and conditions of this Agreement, we will provide you the opportunity through the Site:
        </p><br>
        <small>To review Note packages that Sellers have posted on its Site, including all Note packages and all documents pertaining thereto; and</small>
        <small>To advertise your Notes for sale to prospective Buyers and create a medium through which you can communicate with the prospective Buyer.</small>

        <p class="text-one before-text">
          FCI Exchange will provide the medium through which each Note can be posted on its Site. While FCI Exchange will attempt to verify the accuracy of the information provided by Sellers, FCI Exchange cannot guarantee that any of the information provided by Sellers will be true, accurate or correct. By using this site, Buyer or Seller acknowledge that it is the Seller’s sole responsibility for the accuracy and validity of the Note and Buyers should due a complete due diligence on all information provided by the Seller prior to purchasing the Note.
        </p><br>

        <p class="text-one before-text">
          <span class="text-bold">4. Limitation of Liability</span>You will not hold FCI Exchange responsible for other users' content, actions, or inactions, or Notes they list. You acknowledge that we are not a traditional auctioneer. Instead, our Sites are venues to allow anyone to offer, sell, and buy Notes at anytime from anywhere. We are not involved in the actual transaction between buyers and sellers. While we may help facilitate the resolution of disputes through various programs, we have no control over and do not guarantee the quality, safety, or legality of items advertised, the truth or accuracy of users’ content or listings, including any statements included in the documents Sellers post on or through the Site, the ability of sellers to sell items, the ability of buyers to pay for items, or that a buyer or seller will actually complete a transaction or return an item.
        </p><br>

        <p class="text-one before-text">
          We do not transfer legal ownership of items from the Seller to the Buyer, and nothing in this agreement shall modify the governing provisions of California Commercial Code § 2401(2) and Uniform Commercial Code § 2-401(2), unless the buyer and the seller agree otherwise. Further, we cannot guarantee continuous or secure access to our sites, services, or tools, and operation of our sites, services, or tools may be interfered with by numerous factors outside of our control. Accordingly, to the extent legally permitted, we exclude all implied warranties, terms and conditions. We are not liable for any loss of money, potential finance opportunity, financial gain or loss, goodwill or reputation, or any special, indirect or consequential damages arising, directly or indirectly, out of your use of or your inability to use our sites, services, and tools.
        </p><br>

        <p class="text-one before-text">
          Some jurisdictions do not allow the disclaimer of warranties or exclusion of damages, so such disclaimers and exclusions may not apply to you.
        </p><br>

        <p class="text-one before-text">
          Regardless of the previous paragraphs, if we are found to be liable, our liability to you or to any third party is limited to the greater of (a) the total fees you paid to us in the 12 months prior to the action giving rise to the liability, and (b) $100.
        </p><br>
        
        <p class="text-one before-text">
          <span class="text-bold">4. Limitation of Liability</span>You will not hold FCI Exchange responsible for other users' content, actions, or inactions, or Notes they list. You acknowledge that we are not a traditional auctioneer. Instead, our Sites are venues to allow anyone to offer, sell, and buy Notes at anytime from anywhere. We are not involved in the actual transaction between buyers and sellers. While we may help facilitate the resolution of disputes through various programs, we have no control over and do not guarantee the quality, safety, or legality of items advertised, the truth or accuracy of users’ content or listings, including any statements included in the documents Sellers post on or through the Site, the ability of sellers to sell items, the ability of buyers to pay for items, or that a buyer or seller will actually complete a transaction or return an item.
        </p><br>
      </div>
    </div>
  </div>
</section>