<app-loading></app-loading>
<app-navbar></app-navbar>
<app-alerts></app-alerts>
<router-outlet></router-outlet>
<br><br>
<section class="footer-section">
    <footer class="footer">
        <div class="container">
            <div class="col-lg-1 float-left"><img id="img-footer" src="../assets/img/logo-footer.svg"></div>
            <div class="col-lg-11 float-left">
                <p class="footer-block">Use of this Web site constitutes acceptance of <a [routerLink]="['/terms-and-conditions']">EXCHANGELOANS terms of Use for Trading</a> on This Site and the <a [routerLink]="['/trading-terms']">Website Usage Terms & Conditions</a><br> 8190 E.Kaiser Blvd, Anaheim Hills, CA 92808 | Phone (800) 931-2424
                    | CA Broker DRE #01759687<br> Copyright 2018 EXCHANGELOANS. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</section>