
<section style="margin-top: 20px;">
  <div class="container-fluid FAQ-page">
    <div class="row">
      <div class="col-lg-2">
        <section>
          <div class="col-lg-12 bg-light">
            <h4 class="infoclient">Pub</h4>
          </div>
        </section>
        <section style="margin-top: 20px;">
          <div class="col-lg-12 doc-space"></div>
        </section>
      </div>
      <div class="col-lg-10 bg-light">
        <div class="col-lg-12">
          <h2 class="infoclient-aboutus">Welcome</h2>
        </div>
        <div class="col-lg-7 float-left">
          <span class="text-bold">I want to personally welcome you to EXCHANGELOANS.</span>
          <p class="text-one aboutus-page"><a href="">FCI Lender Services</a> is the sister company of EXCHANGELOANS and has been deeply involved in loan servicing, default, and the buying and selling of notes and REO properties for 30 years. As a servicer with $1.7 Billion under management we understand the importance of buying and selling Notes and REOs accurately and compliantly. Our expert staff regularly assists clients in the resolution of issues resulting from improper loan trades, including serious disclosure and compliance issues. <span class="text-bold">We knew there had to be a better way.</span></p>

          <p class="text-one aboutus-page">EXCHANGELOANS decided it was time to use our expertise to offer a solution to the market. EXCHANGELOANS is a sophisticated and efficient loan trading platform where Buyers and Sellers can trade privately with the experts at EXCHANGELOANS closely monitoring all aspects of the transaction. We help Sellers put together compliant full disclosure packages for sale that encourage and give confidence to Buyers. We provide Buyers current accurate data, including never before seen live servicing data, to use for their investment decisions. Both Buyers and Sellers can feel confident the transaction will proceed and close compliantly through the interactive step-by-step Transaction Summary, and then move smoothly into servicing. EXCHANGELOANS will also be there after the sale to assist with any unforeseen issues.</p>
        </div>
        <div class="col-lg-5 float-left">
          <img class="img-about-us text-center" src="assets/img/img-aboutus.jpg">
          <p class="text-center text-img">Michael Griffith, Chairman</p><br>
        </div>
        <div class="col-lg-12">
          <p class="text-one aboutus-page">This is <span class="text-bold underline">not</span> an auction site demanding immediate participation, forcing rushed decisions and possible missteps. You will also see none of the hype, product or services pushing, fluffed ads, pricing games or blind product listing seen on some other sites. We know there is much more to successfully buying and selling Notes and Properties than just listing them on some internet site.</p><br>

          <p class="text-one aboutus-page">To help our clients, we put many user friendly tools on FCI EXCHANGE including My Product Alerts where Buyers can be notified of just the product for sale that meets their investment criteria. There is also a sophisticated Loan Investment Strategy Model that calculates the best retention or liquidation scenarios for a particular purchase. We are here to help anyone from Novice to Expert Buy Notes and Sell Notes with confidence, quickly and compliantly.</p><br>
        </div>
      </div>
    </div>
  </div>
</section>