<section style="margin-top: 20px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <section>
          <div class="col-lg-12 bg-light">
            <h4 class="infoclient">Pub</h4>
          </div>
        </section>
        <section style="margin-top: 20px;">
          <div class="col-lg-12 doc-space"></div>
        </section>
      </div>
      <div class="col-lg-10 bg-light">
        <h3 class="text-center title-condition-page">WEBSITE USAGE TERMS FOR THIS WEBSITE</h3>
        <p class="text-one">Please read the following. By using this website, you agree to and accept the terms and conditions described below. We reserve the right to modify or make changes to the terms of usage, pricing, programs and the contents of the website without notice, so you are advised and cautioned to review the terms and conditions regularly. Each time you use this website you agree to and accept the current terms and conditions.</p><br>
        <p class="text-one"><span class="text-bold">AUTHORIZED USE ONLY</span> The entire content of this website is and shall remain the intellectual property of FCI EXCHANGE, LLC. (FCI) or any affiliated or related entity. As such, it is protected by State, Federal and International copyright and other applicable laws. The unauthorized use of this website or its contents is strictly prohibited without prior written permission, and such violation may result in both civil and criminal liability. Such intellectual property rights include any proprietary software used on this website.</p><br>
        <p class="text-one"><span class="text-bold">CONFIDENTIAL INFORMATION</span> By using this website, you may be given authorization to view certain public and nonpublic information regarding promissory notes, real property, pictures, locations, documents, and other information that is contained herein. You agree that any and all information obtained from FCI and/or contained herein constitutes confidential information and that you will not use, disclose, or divulge any information contained herein except to your financial advisors, attorneys, accountants and other professionals advising you whether to enter into a transaction.</p><br>
        <p class="text-one"><span class="text-bold">HOW WE MAY USE YOUR INFORMATION</span> We also may use the information you provide us through electronic mail, including your email address, to respond to you. We also may use the information we collect from your visit to our Web website to identify levels and areas of interest in us which enables us to improve and refine the content of the Web site.</p><br>
        <p class="text-one">We do not sell any of this information to third parties. We do, however, reserve the right to disclose such information to our employees, contractors, agents, and designees to the extent necessary to enable them to perform certain website-related services (e.g., web hosting, improve website-related services and features, or maintenance services) on our behalf. We also reserve the right to disclose such information to any third party if we believe that we are required to do so for any or all of the following reasons: (i) by law; (ii) to comply with legal processes or governmental requests; (iii) to prevent, investigate, detect, or prosecute criminal offenses or attacks on the technical integrity of the website or our network; and/or (iv) to protect the rights, property, or safety of us and our affiliates, their partners, and employees, the users of this Web website, or the public.</p><br>
        <p class="text-one"><span class="text-bold">DISCLAIMERS</span> The contents and access to this website are provided for convenience only and in so providing such material, access and information, FCI makes no representations or warranties of any kind, express or implied, with respect to the website or any material or information provided. By using this website, in addition to any other waivers or releases made by a user of this website, you expressly promise, acknowledge and agree that FCI, its agents, employees, representatives, members of its board of directors, attorneys, shareholders or any other related or affiliated person or entity (the Related Parties) shall not be liable for any damages of any kind, including but not limited to consequential, compensatory, special and punitive damages. This express promise extends to any equitable claims of any nature, including, but not limited to comparative liability and indemnification, and if any third party sues or makes any claim against any of the parties listed in this paragraph as a direct or indirect result of information provided to you, the user agrees to indemnify, defend and hold FCI and the Related Parties harmless. Any attorney chosen by a user to defend FCI and any of the Related Parties, shall be competent and experienced in the appropriate area of law involved, and shall be subject to the subjective approval of FCI and the Related Parties involved. If FCI does not approve of the attorney chosen by the user, it has the right to retain the attorney of its choice and the user shall be liable for all attorney fees and costs incurred immediately as they accrue and become due.</p><br>
        <p class="text-one">Our website contains links to other websites. Please be aware that we are not and cannot be responsible for the privacy practices of such other websites and that this Privacy Policy applies solely to the information which we collect through this Web website. We encourage you to ensure that you read the privacy statements of all the destination websites which you visit. Furthermore, we are not responsible for any damages, including but not limited to emotional or physical, that you receive from the other website as a result of its content or transmission of viruses from that site, or other damaging transmissions from that website to your computer.</p>
        <p></p><br>
        <p class="text-one"><span class="text-bold">JURISDICTION AND VENUE MATTERS</span> By using this website, a user expressly agrees that jurisdiction and venue for any action against FCI or any of the Related Parties shall be in Orange County, California, in the appropriate state or federal court. There shall be no other place or court which shall have concurrent jurisdiction and any user of this website waives any rights concerning jurisdiction and venue and acknowledges and agrees to these provisions.</p><br>
        <p class="text-one"><span class="text-bold">PRIVACY CONSIDERATIONS</span> All personal information obtained by FCI is treated as private and confidential. The information available to users of this website is intended only for the legitimate business use of FCI's customers and clients. FCI will not intentionally violate any right of privacy nor make such information available to third parties for solicitation by third parties. FCI comes into possession and knowledge of a limited amount of information necessary for it to provide its services to its customers and clients, but treats all information received as private and confidential.</p><br>
        <p class="text-one"><span class="text-bold">SECURITY</span> We attempt to adopt commercially reasonable security measures consistent with legal industry practice to assist in protecting against the loss, misuse, and alteration of personally identifiable information which is under our control. However, no system of transmitting data over the Internet can be guaranteed to be 100% secure. As a result, while we undertake commercially reasonable efforts to protect your personally identifiable information, we cannot guarantee the security of our servers, the means by which information is transmitted between your computer and our servers, or any information provided to us or to any third party through or in connection with the website. You provide all such information entirely at your own risk.</p><br>
      </div>
    </div>
  </div>
</section>
