<section style="margin-top: 20px;" class="page-register-span">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-img-page-detail title bg-light">Step 1 : Personal Information</h4><br>
                <br>
                <form novalidate [formGroup]="formRegister" (ngSubmit)="onSubmitRegister()" class="page-register">
                    <div class="form-row">
                        <div class="col-lg-3">
                            <label for="inputPassword6" [ngClass]="{'has-danger': FirstName.invalid && (FirstName.dirty || FirstName.touched),'has-success': FirstName.valid && (FirstName.dirty || FirstName.touched)}">First Name: <em>*</em></label>

                            <input class="form-control" placeholder="" type="text" formControlName="FirstName">
                            <div class="form-control-feedback" *ngIf="FirstName.errors && (FirstName.dirty || FirstName.touched)">
                                <p class="text-danger" *ngIf="FirstName.errors.required">First name is required</p>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <label for="inputPassword6" [ngClass]="{'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),'has-success' : lastName.valid && (lastName.dirty || lastName.touched)}">Last Name: <em>*</em></label>

                            <input type="text" class="form-control" placeholder="" formControlName="lastName">
                            <div class="form-control-feedback" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                                <p class="text-danger" *ngIf="lastName.errors.required">Last name is required</p>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <label for="inputPassword6" [ngClass]="{'has-danger': address.invalid && (address.dirty || address.touched),'has-success' : address.valid && (address.dirty || address.touched)}">Address: <em>*</em></label> <input class="form-control"
                                placeholder="" type="text" formControlName="address">
                            <div class="form-control-feedback" *ngIf="address.errors && (address.dirty || address.touched)">
                                <p class="text-danger" *ngIf="address.errors.required">Address is required</p>
                            </div>
                        </div>
                        <div class="col-lg-3">

                            <label for="inputPassword6" [ngClass]="{'has-danger': city.invalid && (city.dirty || city.touched),'has-success' : city.valid && (city.dirty || city.touched)}">City: <em>*</em></label>
                            <input class="form-control" placeholder="" type="text" formControlName="city">
                            <div class="form-control-feedback" *ngIf="city.errors && (city.dirty || city.touched)">
                                <p class="text-danger" *ngIf="city.errors.required">city is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3">
                            <label for="inputPassword6">Zip:</label> <input class="form-control" placeholder="" type="text" formControlName="zip">
                        </div>
                        <div class="col-lg-3">
                            <label for="inputPassword6" [ngClass]="{'has-danger':stateCheck,'has-success' : !stateCheck}">State: <em>*</em></label>
                            <select2 [data]="stateData" class="form-control" required (valueChanged)="changedState($event)"> </select2>
                            <div class="form-control-feedback" *ngIf="stateCheck">
                                <p class="text-danger">State is required </p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for="inputPassword6" [ngClass]="{'has-danger':Email.invalid && (Email.dirty || Email.touched),'has-success': Email.valid && (Email.dirty || Email.touched)}">Email: <em>*</em></label>
                            <input class="form-control" placeholder="" type="text" formControlName="Email">
                            <div class="form-control-feedback" *ngIf="Email.errors && (Email.dirty || Email.touched)">
                                <p class="text-danger" *ngIf="Email.errors.required">Email is required </p>
                                <p class="text-danger" *ngIf="Email.errors.pattern">Email is not valid ,exp <i>iraouf@adelphatech.com</i> </p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for="inputPassword6" [ngClass]="{'has-danger':confirmEmail.invalid && (confirmEmail.dirty || 
                            confirmEmail.touched),'has-success': confirmEmail.valid && (confirmEmail.dirty || confirmEmail.touched)}">Confirm Email: <em>*</em></label>
                            <input class="form-control" placeholder="" type="text" formControlName="confirmEmail">

                            <div class="form-control-feedback" *ngIf="confirmEmail.errors && (confirmEmail.dirty || confirmEmail.touched)">
                                <p class="text-danger">Email mismatch</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-3">
                            <label for="inputPassword6" [ngClass]="{'has-danger': PhoneNumber.invalid && (PhoneNumber.dirty || PhoneNumber.touched),'has-success' : PhoneNumber.valid && (PhoneNumber.dirty || PhoneNumber.touched)}">PhoneNumber: <em>*</em></label>                            <input class="form-control" placeholder="" type="text" formControlName="PhoneNumber">
                            <div class="form-control-feedback" *ngIf="PhoneNumber.errors && (PhoneNumber.dirty || PhoneNumber.touched)">
                                <p class="text-danger" *ngIf="PhoneNumber.errors.required"> PhoneNumber is required</p>
                                <p class="text-danger" *ngIf="PhoneNumber.errors.pattern"> PhoneNumber is not valid</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for="inputPassword6" [ngClass]="{'has-danger': confirmPhoneNumber.invalid && (confirmPhoneNumber.dirty || confirmPhoneNumber.touched), 'has-success': confirmPhoneNumber.valid && (confirmPhoneNumber.dirty || confirmPhoneNumber.touched)}">Confirm PhoneNumber: <em>*</em></label>
                            <input class="form-control" formControlName="confirmPhoneNumber" placeholder="" type="text">
                            <div class="form-control-feedback" *ngIf="confirmPhoneNumber.errors && (confirmPhoneNumber.dirty || confirmPhoneNumber.touched)">
                                <p class="text-danger" *ngIf="confirmPhoneNumber.errors"> PhoneNumber mismatch</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for="inputPassword6">Fax:</label> <input class="form-control" placeholder="" type="text" formControlName="fax">
                        </div>
                        <div class="col-lg-3">
                            <label for="inputPassword6">Company:</label> <input class="form-control" placeholder="" type="text" formControlName="company">
                        </div>
                    </div><br>
                    <br>
                    <br>
                    <h4 class="text-img-page-detail title bg-light">Step 2 : Create User Profile </h4><br>
                    <br>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label for="inputPassword6" [ngClass]="{'has-danger': Password.invalid && (Password.dirty || Password.touched),'has-success': Password.valid && (Password.dirty && Password.touched)}">Password: <em>*</em></label>
                            <input class="form-control" placeholder="" type="Password" formControlName="Password">

                            <div class="form-control-feedback" *ngIf="Password.errors && (Password.dirty || Password.touched)">
                                <p class="text-danger" *ngIf="Password.errors.required">Password is required</p>
                                <p class="text-danger" *ngIf="Password.errors.minlength">Min length is 8 characters</p>
                                <p class="text-danger" *ngIf="Password.errors.maxlength">Max length is 50 characters</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="inputPassword6" [ngClass]="{'has-danger': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),'has-success': confirmPassword.valid && (confirmPassword.dirty && confirmPassword.touched)}">Confirm Password: <em>*</em></label>
                            <input class="form-control" placeholder="" type="Password" formControlName="confirmPassword">
                            <div class="form-control-feedback" *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
                                <p class="text-danger">Password mismatch</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-lg-12">
                            <h6 class="title-step" [ngClass]="{'has-danger':broker.invalid && (broker.dirty || broker.touched) }">Are you a Broker or a Principal? <em>*</em></h6>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-lg-6 checkbox float-left">
                                <label><input type="radio" value="false" formControlName="broker" name="broker" (change)="IsPrincipal()" checked/> Principal</label>
                            </div>
                            <div class="col-lg-6 checkbox float-left">
                                <label><input type="radio" value="true" formControlName="broker" name="broker" (change)="IsBroker()"> Broker</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="inputPassword6" [ngClass]="{'has-danger': licence.invalid && (licence.dirty || licence.touched),'has-success': licence.valid && (licence.dirty && licence.touched)}">Please enter your License Number: <em>*</em></label>
                            <input type="text" class="form-control" formControlName="licence">
                            <div class="form-control-feedback" *ngIf="licence.errors && (licence.dirty || licence.touched)">
                                <p class="text-danger" *ngIf="licence.errors.required">Are you broker !?,if yes Number license is required</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p class="info">If you are a Broker representing a principal on a particular transaction, please be prepared to have your client sign a Non-Disclosure Agreement and provide Proof of Funds before your indicative offer is forwarded to the Seller.</p>
                        </div>
                    </div><br>
                    <br>
                    <br>
                    <div class="form-row align-items-center">
                        <div class="col-lg-12">
                            <h6 class="title-step" [ngClass]="{'has-danger': hearAboutUsCheck}">How did you hear about us? <em>*</em></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 About-us-is-required">
                            <select2 [data]="hearAboutUsData" [options]="options" required (valueChanged)="changedhearAboutUs($event)"> </select2>
                            <div class="form-control-feedback" *ngIf="hearAboutUsCheck">
                                <p class="text-danger">About us is required</p>
                            </div>
                        </div>

                        <div class="col-lg-9 float-left">
                            <input class="form-control" placeholder="Other" type="text" formControlName="otherhearAboutUs">
                        </div>
                    </div>

                    <div class="form-row align-items-center">
                        <div class="col-lg-12">
                            <h6 class="title-step">Mailing</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <select2 [data]="millingData" [options]="options" required (valueChanged)="changedMilling($event)"> </select2>

                        </div>

                    </div>

                    <br>
                    <br>
                    <h4 class="text-img-page-detail title bg-light">Step 3 : Preferences </h4><br>
                    <br>
                    <div class="form-row align-items-center">
                        <div class="col-lg-12">
                            <h6 class="title-step" [ngClass]="{ 'has-danger':propertyTypesCheck}">What Property Types do you Buy or Sell? <em>*</em></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">

                            <select2 [data]="propertyTypesData" [options]="options" required (valueChanged)="changedPropertyTypes($event)"> </select2>
                            <div class="form-control-feedback" *ngIf="propertyTypesCheck">
                                <p class="text-danger">Property types is required</p>
                            </div>
                        </div>

                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-lg-12">
                            <h6 class="title-step" [ngClass]="{'has-danger':CurrentCapitalAvailableCheck}">Current Capital Available: <em>*</em></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">

                            <select2 [data]="CurrentCapitalAvailableData" [options]="options" required (valueChanged)="changedCurrentCapitalAvailable($event)"> </select2>
                            <div class="form-control-feedback" *ngIf="CurrentCapitalAvailableCheck">
                                <p class="text-danger">Current Capital Available is required</p>
                            </div>
                        </div>

                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-lg-12">
                            <h6 class="title-step" [ngClass]="{'has-danger':idealPropertyValueCheck}">Ideal Property Value? <em>*</em></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">

                            <select2 [data]="idealPropertyValueData" [options]="options" required (valueChanged)="changedIdealPropertyValue($event)"> </select2>
                            <div class="form-control-feedback" *ngIf="idealPropertyValueCheck">
                                <p class="text-danger">Ideal Property Value is required</p>
                            </div>
                        </div>

                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-lg-12">
                            <h6 class="title-step" [ngClass]="{'has-danger' : LoanTypesCheck}">Loan Types <em>*</em></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">

                            <select2 [data]="LoanTypesData" [options]="options" required (valueChanged)="changedLoanTypes($event)"> </select2>
                            <div class="form-control-feedback" *ngIf="LoanTypesCheck">
                                <p class="text-danger"> Loan Type is required</p>
                            </div>
                        </div>

                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-lg-12">
                            <h6 class="title-step">How do you purchase your notes?</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <select2 [data]="purchaseYourNoteData" [options]="options" required (valueChanged)="changedpurchaseYourNote($event)"> </select2>

                        </div>

                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-lg-12">
                            <h6 class="title-step">What Lien Position are you looking to buy or sell?</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <select2 [data]="LienPositionData" [options]="options" required (valueChanged)="changedLienPosition($event)"> </select2>

                        </div>

                    </div>

                    <div class="form-row align-items-center">
                        <div class="col-lg-12">
                            <h6 class="title-step">Which state(s) are you looking to buy or sell in?</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <select2 [data]="statesData" [options]="options" required (valueChanged)="changedStates($event)"> </select2>

                        </div>

                    </div><br>

                    <div class="row">
                        <div class="col-lg-2 offset-lg-5"><button type="submit" class="btn btn-success btn-lg btn-block">Submit</button></div>
                    </div>
                    <!-- <pre>{{formRegister.value | json }}</pre> -->
                </form>
            </div>
        </div>
    </div>

</section>